<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Ocean Jóias - Painel Administrativo')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap/bootstrap.min.css'))
                        ->prependStylesheet($this->basePath('css/manager/base.css'))?>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

        <!-- Scripts -->
        <?php echo $this->headScript()
            //->prependFile($this->basePath('ckeditor/ckeditor.js'))
            ->prependFile($this->basePath('js/manager/default.js'))
            ->prependFile($this->basePath('js/jquery.validate.min.js'))
            ->prependFile($this->basePath('js/bootstrap/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

        <!--<script src="//cdn.ckeditor.com/4.5.5/standard/ckeditor.js"></script>-->
        <script src="//cdn.ckeditor.com/4.5.6/full/ckeditor.js"></script>
        <!--<script src="/ckeditor/ckeditor.js"></script>-->
        
        <?php 
        if (strpos($_SERVER['REQUEST_URI'], 'manager/setting/create') !== false) :
            $nameTextarea = 'value';
        elseif (strpos($_SERVER['REQUEST_URI'], 'manager/faq/create') !== false) :
            $nameTextarea = 'answer';
        else :
            $nameTextarea = 'text';
        endif;
        ?>
        <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
	    <script src="//cdn.datatables.net/plug-ins/1.10.10/api/average().js"></script>
    </head>
    <body class="<?php echo substr(str_replace('/', '-', $_SERVER['REDIRECT_URL']), 1); ?>">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-title" href="<?php echo $this->url('home') ?>">&nbsp;<?php echo $this->translate('Painel Administrativo') ?></a>
                    <!--<a class="navbar-brand" href="<?php echo $this->url('home') ?>">&nbsp;<?php echo $this->translate('Sai Jogo') ?></a>-->
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text navbar-right" style="margin-right:0;">
                        Logado como: <a href="<?php echo $this->url('manager', array('controller' => 'user', 'action' => 'me')) ?>" class="navbar-link"></a>
                        <a href="#">[<?php echo $this->translate('Sair'); ?>]</a>
                    </p>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class=""><a href="<?php echo $this->url('manager', array('controller' => 'product', 'action' => 'index')) ?>"><?php echo $this->translate('Produtos', __NAMESPACE__) ?></a></li>
                        <li class=""><a href="<?php echo $this->url('manager', array('controller' => 'category', 'action' => 'index')) ?>"><?php echo $this->translate('Categorias', __NAMESPACE__) ?></a></li>
                        <li class=""><a href="<?php echo $this->url('manager', array('controller' => 'collection', 'action' => 'index')) ?>"><?php echo $this->translate('Coleções', __NAMESPACE__) ?></a></li>
                        <li class=""><a href="<?php echo $this->url('manager', array('controller' => 'budget', 'action' => 'index')) ?>"><?php echo $this->translate('Orçamentos', __NAMESPACE__) ?></a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                    <?php echo $this->content; ?>
                </div>
            </div>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
