<?php echo $this->partial('/partials/menu.phtml'); ?>
<?php 
$products = (!empty($_COOKIE['products'])) ? json_decode($_COOKIE['products']) : [];
?>
<section id="main" class="collection">
	<div class="gallery">
		<div class="container call">
			<h5><?php echo $this->category['name']; ?></h5>
		</div>
		<div class="container">
			<p style="color: #FFC; text-align: center;">Selecione abaixo as peças que você deseja orçar. Não esqueça de selecionar a quantidade.</p>
			<ul>
			    <?php 
			    foreach ($this->products as $product) : 
			    	$isChecked = (in_array($product['id'], $products)) ? true : false;
			    ?>
				<li>
					<div class="product-line <?php if ($isChecked) echo 'added'; ?>">
					    <div class="product-wrapper">
					    	<div class="input-wrapper">
					    		<label>
					    			<input type="checkbox" name="product" value="<?php echo $product['id']; ?>" <?php if ($isChecked) echo 'checked'; ?> style="vertical-align: middle;">
					    			<em style="color: #666; font-size: 14px; font-style: normal;">Eu quero</em>
					    		</label>
					    	</div>
	    					<div class="image-wrapper">
	    						<a data-fancybox="gallery" href="/photos/<?php echo $product['name']; ?>.jpg">
	    							<img src="/photos/thumbs/<?php echo $product['name']; ?>.jpg" alt="">
	    						</a>
	    					</div>
	    					<h3>
	    						<?php if ($product['category'] != null) : ?>
	    						<small style="font-size: 10px; display:none; margin: 0 auto; padding: 4px 10px; background-color: black; color: white;"><?php echo $product['category']; ?></small>
	    						<?php endif; ?>
	    						<?php echo $product['name']; ?>
	   						</h3>
	   						<?php if ($product['price'] > 0) : ?>
	    					<span class="price"><?php echo '$' . $product['price']; ?></span>
	    					<?php endif; ?>
	    					<!--
	    					<div class="buttons">
	    						<a href="">Comprar</a>
	    					</div>
	    					-->
	    				</div>
					</div>
				</li>
				<?php endforeach; ?>
			</ul>
		</div>
	</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
	if (Cookies.get('products') != undefined) {
		var products = JSON.parse(Cookies.get('products'));
	} else {
		var products = [];
	}
	$(function() {
		if (products.length) {
			$('#finish-budget').addClass('show');
		}

		$('[name="product"]').on('change', function() {
			var id = $(this).val();
			var parent = $(this).closest('.product-line');
			
			if ($(this).is(':checked')) {
				products.push(id);
				Cookies.set('products', products);
				$(parent).addClass('added');
			} else {
				var pos = products.indexOf(id);
				if (pos > -1) {
					products.splice(pos, 1);
					Cookies.set('products', products);
				}
				$(parent).removeClass('added');
			}
			$('#finish-budget strong').text(products.length);

			if (products.length) {
				$('#finish-budget').addClass('show');
			} else {
				$('#finish-budget').removeClass('show');
			}
		});
	});
</script>