<?php echo $this->partial('/partials/menu.phtml'); ?>

<section id="main" class="internal all-collections">
	<div class="gallery">
		<div class="container call">
			<h5>Coleções</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nemo nesciunt, dolor ipsum dicta, quas reiciendis esse quisquam eos nostrum ducimus molestiae saepe aperiam possimus incidunt enim eveniet veniam ipsa.</p>
		</div>
		<ul>
		    <?php foreach ($this->allCollections as $collection) : ?>
			<li>
				<div class="product-line">
				    <div class="product-wrapper">
    					<div class="image-wrapper">
    						<a href="/colecao?id=<?php echo $collection['collection_id']; ?>">
    							<img src="/photos/thumbs/<?php echo $collection['product_name']; ?>.jpg" alt="">
    						</a>
    					</div>
    					<h3>
    						<a href="/colecao?id=<?php echo $collection['collection_id']; ?>">Coleção <?php echo $collection['collection_name']; ?></a>
    					</h3>
    				</div>
				</div>
			</li>
			<?php endforeach; ?>
		</ul>
	</div>
</section>