<div class="container pag-form">
	<div class="row">
		
		<!--BREADCRUMB -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 breadcrumbs">
			<nav class="block default">
				<a href="/" title="Página Inicial"><span class="glyphicon glyphicon-home"></span></a> | <h1>Login</h1>
			</nav>		
		</div>
		<!--END BREADCRUMB -->
		
		<div class="row">
			<div class="col-lg-6">
				<div class="block default">
					<h2>Já sou cliente</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque saepe ipsam deserunt architecto harum, suscipit nemo molestiae. Dignissimos cupiditate tempore, consequuntur nostrum necessitatibus quaerat, fugiat, libero, quis sit soluta voluptates.</p>
					<form action="" id="formAuthenticate" class="form">
						<div class="form-group full">
							<label for="">Seu e-mail:</label>
							<input type="text" name="email" class="form-control" placeholder="Informe o seu e-mail">
						</div>
						<div class="form-group full">
							<label for="">Sua senha:</label>
							<input type="password" name="password" class="form-control" placeholder="Informe a sua senha">
						</div>
						<div class="row">
							<div class="col-lg-6 forgot-password">
								<i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="javascript:void(0)">Esqueci minha senha</a>
							</div>
							<div class="col-lg-6">
								<div class="button-wrapper">
									<button type="submit" class="btn btn-primary">Acessar <span class="glyphicon glyphicon-menu-right"></span></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="block default">
					<h2>Não sou cliente</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque saepe ipsam deserunt architecto harum, suscipit nemo molestiae. Dignissimos cupiditate tempore, consequuntur nostrum necessitatibus quaerat, fugiat, libero, quis sit soluta voluptates.</p>
					<form action="/cadastro" id="formRegister" class="form">
						<div class="form-group full">
							<label for="">Seu nome:</label>
							<input type="text" name="name" class="form-control" placeholder="Informe o seu nome complete" required>
						</div>
						<div class="form-group full">
							<label for="">Seu e-mail:</label>
							<input type="email" name="email" class="form-control" placeholder="Informe o seu e-mail" required>
						</div>
						<div class="row">
							<div class="col-lg-6 pull-right">
								<div class="button-wrapper">
									<button type="submit" class="btn btn-primary">Continuar <span class="glyphicon glyphicon-menu-right"></span></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/authenticate.js"></script>