<div class="container pag-form">
	<div class="row">
		
		<!--BREADCRUMB -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 breadcrumbs">
			<nav class="block default">
				<a href="/" title="Página Inicial"><span class="glyphicon glyphicon-home"></span></a> | <h1>Login</h1>
			</nav>		
		</div>
		<!--END BREADCRUMB -->
		
		

		<!--FORM -->
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-offset-3">
			<div class="block default">
				<h2>Informe seus dados</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque saepe ipsam deserunt architecto harum, suscipit nemo molestiae. Dignissimos cupiditate tempore, consequuntur nostrum necessitatibus quaerat, fugiat, libero, quis sit soluta voluptates.</p>
				<form class="form" id="formAuthenticate">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group full">
									<label class="control-label" for="email">E-mail:</label>
									<input type="email" name="email" class="form-control" id="email" placeholder="E-mail">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group full">
									<label class="control-label" for="phone">Senha:</label>
									<input type="password" name="password" class="form-control" id="password">
								</div>
							</div>
							<div class="col-lg-6">
								<button type="submit" class="btn btn-primary">Continuar <span class="glyphicon glyphicon-menu-right"></span></button>
							</div>
						</div>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
		<!--END FORM -->
	</div>
</div>

<script src="/js/authenticate.js"></script>