<?php



?>
<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header"><?php echo $this->translate(ucfirst($this->entity), __NAMESPACE__); ?></h4>
    </div>
    <div class="col-lg-12">
        <a href="<?php 
            echo $this->url(strtolower('Manager'), 
                array('controller' => product, 'action' => 'create'));?>" class="btn btn-primary btn-sm active" role="button"><?php echo $this->translate("Add", __NAMESPACE__); ?></a>
    </div>
</div>
<?php if(isset($this->elements) && count($this->elements) > 0): ?>
<?php $headerSetted = false; ?>
<?php $statusIndex = false; ?>
    <div class="table-responsive">
        <table class="table table-hover">
            <?php foreach($this->elements as $element):?>
                <?php if (!$headerSetted):  ?>
                <thead>
                    <?php $headers = array_keys($element->toArray()); ?>
                    <tr>
                        <?php foreach($headers as $key => $header):?>
                            <th><?php echo $this->translate(ucfirst($header), __NAMESPACE__); ?></th>
                        <?php endforeach; ?>
                            <th><?php echo $this->translate("Actions", __NAMESPACE__); ?></th>
                    </tr>
                    <?php $headerSetted = true; ?>
                </thead>
                <tbody>
                <?php endif; ?>
                <tr data-id="<?php echo $element->getId(); ?>">
                    <?php foreach($element->toArray() as $key =>  $value):?>
                        <td>
                            <?php if(strtolower($key) == "status"): ?>
                                <?php if ($value == 1): ?>
                                    <?php echo $this->translate("Ativo", __NAMESPACE__); ?>
                                <?php else: ?>        
                                    <?php echo $this->translate("Inativo", __NAMESPACE__); ?>
                                <?php endif; ?>        
                            <?php else: ?>
                                <?php if (isset($relations) && !empty($relations) && array_key_exists($key, $relations)):?>
                                    <?php $rel = "$" . $relations[$key] . "Rows"; ?>
                                    <?php eval("\$label = $rel;"); ?>
                                    <?php echo $this->translate($label[$value]["name"], __NAMESPACE__); ?>
                                <?php else: ?>
                                    <?php echo $this->translate($value, __NAMESPACE__); ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>
                    <?php endforeach; ?>
                        <td>
                            <a href="<?php echo $this->url(strtolower('Manager'), 
                                array('controller' => 'product', 'action' => 'create', "id" => $element->getId())); ?>" class="edit"><?php echo $this->translate("edit", __NAMESPACE__); ?></a>
                            <a href="<?php echo $this->url(strtolower('Manager'), 
                                array('controller' => 'product', 'action' => 'remove', "id" => $element->getId())); ?>" class="delete"><?php echo $this->translate("delete", __NAMESPACE__); ?></a>
                        </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif; ?>
<script type="text/javascript" src="<?php echo $this->basePath('js/manager/product/index.js'); ?>"></script>