body #main .check-partners:before, body #main .check-partners:after {
  background-image: url('./../img/sprite.png');
  background-repeat: no-repeat; }

* {
  margin: 0;
  padding: 0; }

body {
  font: 13px/18px 'Open Sans', arial, sans-serif; }
  body a:hover {
    text-decoration: none; }
  body #main {
    margin-top: 120px;
    /* The finishing CSS styles for the enter animation */
    /* botao 'confira nossos parceiros */ }
    body #main > header {
      background-color: #ED1C24;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 70px;
      z-index: 100;
      box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08); }
      body #main > header h1 {
        margin: 0; }
    body #main .navbar-default {
      background-color: #FDFDFD;
      border-bottom: none;
      box-shadow: 0 -3px 23px rgba(0, 0, 0, 0.2); }
      body #main .navbar-default .wrapper-menu-top {
        background-color: #ED1C24; }
        body #main .navbar-default .wrapper-menu-top > div {
          padding: 0.5em 0; }
          body #main .navbar-default .wrapper-menu-top > div a {
            color: white;
            text-transform: uppercase;
            font-weight: bold; }
          body #main .navbar-default .wrapper-menu-top > div .link-inter a {
            font-size: 1.1em; }
          body #main .navbar-default .wrapper-menu-top > div .other-menu {
            border-left: 1px solid #A7080B;
            box-shadow: -1px 0 0 rgba(237, 28, 36, 0.7); }
            body #main .navbar-default .wrapper-menu-top > div .other-menu ul {
              margin-bottom: 0; }
              body #main .navbar-default .wrapper-menu-top > div .other-menu ul li {
                margin-right: 2em;
                list-style: none;
                display: inline-block; }
                body #main .navbar-default .wrapper-menu-top > div .other-menu ul li a {
                  font-size: 0.85em; }
      body #main .navbar-default .navbar-header {
        min-height: 90px; }
        body #main .navbar-default .navbar-header .logo {
          background-image: url('./../img/logo.png');
          background-repeat: no-repeat;
          width: 340px;
          height: 90px;
          text-indent: -9999px;
          background-size: contain; }
      body #main .navbar-default .navbar-nav li a {
        line-height: 90px;
        padding-top: 0;
        padding-bottom: 0; }
        body #main .navbar-default .navbar-nav li a.text-highlight {
          color: black;
          text-align: center; }
      body #main .navbar-default .navbar-nav.navbar-right li a {
        text-transform: uppercase;
        font-weight: bold; }
      body #main .navbar-default .navbar-nav.menu-main {
        border-left: 1px solid white;
        box-shadow: -1px 0 0 rgba(0, 0, 0, 0.05); }
        body #main .navbar-default .navbar-nav.menu-main a {
          color: #ED1C24;
          font-size: 13px; }
    body #main .teste.ng-enter {
      transition: 0.5s ease-in-out all;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
    body #main .teste.ng-enter.ng-enter-active {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    body #main .teste.ng-leave {
      transition: 0.5s ease-in-out all;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    body #main .teste.ng-leave.ng-leave-active {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
    body #main .grid {
      margin-bottom: 40px; }
      body #main .grid .partner {
        /* @include transform(scale(1));
				@include transition(opacity, 0.4s, ease-in-out);
				opacity: 1;
				height: auto; */ }
        body #main .grid .partner.dont-show {
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
          opacity: 0;
          height: 0;
          margin: 0 !important;
          padding: 0 !important;
          width: 0; }
        body #main .grid .partner .wrapper {
          position: relative; }
          body #main .grid .partner .wrapper > a {
            background-color: #F9F9F9;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            display: block;
            padding-top: 20px;
            text-align: center;
            -webkit-transition: box-shadow, 0.1s, ease-in-out;
            -moz-transition: box-shadow, 0.1s, ease-in-out;
            transition: box-shadow, 0.1s, ease-in-out; }
            body #main .grid .partner .wrapper > a:hover {
              box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25); }
            body #main .grid .partner .wrapper > a .partner-logo {
              margin: 0 auto 10px;
              min-height: 140px;
              display: table; }
              body #main .grid .partner .wrapper > a .partner-logo > div {
                display: table-cell;
                vertical-align: middle; }
            body #main .grid .partner .wrapper > a h4 {
              background-color: #F2F2F2;
              margin: 0;
              padding: 10px;
              font-size: 1em;
              color: #666; }
          body #main .grid .partner .wrapper .info {
            background-color: rgba(0, 0, 0, 0.7);
            display: table;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0; }
            body #main .grid .partner .wrapper .info dl {
              color: white;
              display: table-cell;
              vertical-align: middle; }
              body #main .grid .partner .wrapper .info dl dt {
                display: none; }
          body #main .grid .partner .wrapper .partner-detail {
            color: #FFF;
            opacity: 0;
            padding: 15px;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            -webkit-transition: opacity, 0.15s, ease;
            -moz-transition: opacity, 0.15s, ease;
            transition: opacity, 0.15s, ease;
            width: 110%;
            position: absolute;
            top: -15px;
            left: -5%;
            height: 115%;
            background-color: rgba(237, 28, 36, 0.95);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            z-index: 1;
            /* &.selected {
					    	//display: block;
					    							@include transform(scale(1));
					    							opacity: 1;
					    } */ }
            body #main .grid .partner .wrapper .partner-detail .partner-content a.close {
              position: absolute;
              right: 10px;
              top: 10px;
              color: white;
              opacity: 1;
              font-size: 1.2em;
              font-weight: normal; }
            body #main .grid .partner .wrapper .partner-detail .partner-content h4 {
              font-weight: bold;
              font-size: 22px; }
            body #main .grid .partner .wrapper .partner-detail .partner-content ul {
              margin: 1em 0 0;
              padding-left: 0; }
              body #main .grid .partner .wrapper .partner-detail .partner-content ul li {
                list-style: none;
                margin-bottom: 0.5em; }
                body #main .grid .partner .wrapper .partner-detail .partner-content ul li a {
                  text-transform: uppercase;
                  font-weight: bold;
                  border-radius: 0;
                  border: none;
                  display: block;
                  border-bottom: 2px solid #A7080B; }
        body #main .grid .partner.selected .partner-detail {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          opacity: 1; }
      body #main .grid .wrapper-nav-categories {
        margin: 30px 0; }
        body #main .grid .wrapper-nav-categories .nav-categories li {
          float: left;
          width: 25%;
          list-style: none;
          border-bottom: 1px solid #DDD; }
          body #main .grid .wrapper-nav-categories .nav-categories li:not(:last-child) {
            border-right: 1px solid #DDD; }
          body #main .grid .wrapper-nav-categories .nav-categories li.active {
            box-shadow: 0 8px 0px -6px #ED1C24;
            /* a {
								border-bottom: 4px solid $color-primary;
							} */ }
            body #main .grid .wrapper-nav-categories .nav-categories li.active a {
              color: #ED1C24;
              font-weight: bold; }
          body #main .grid .wrapper-nav-categories .nav-categories li a {
            text-align: center;
            display: block;
            padding: 15px 0;
            font-size: 1em;
            text-transform: uppercase;
            color: #999; }
    body #main .wrapper-list-actions {
      border-top: 1px solid #DDD;
      padding-top: 60px;
      background-color: #FBFBFB; }
      body #main .wrapper-list-actions .list-actions {
        padding-bottom: 60px; }
        body #main .wrapper-list-actions .list-actions .wrapper {
          padding: 20px;
          border: 1px solid #DDD;
          box-shadow: 0 4px 0 0 #F4F4F4;
          background-color: white;
          color: #999;
          -webkit-transition: opacity, 0.5s, ease-in-out;
          -moz-transition: opacity, 0.5s, ease-in-out;
          transition: opacity, 0.5s, ease-in-out;
          opacity: 0; }
          body #main .wrapper-list-actions .list-actions .wrapper .icon {
            /* width: 60px;
						height: 60px;
						background-color: black; */
            margin: 0 auto;
            display: block; }
            body #main .wrapper-list-actions .list-actions .wrapper .icon i {
              font-size: 3em;
              display: block;
              text-align: center; }
          body #main .wrapper-list-actions .list-actions .wrapper h5 {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4em; }
          body #main .wrapper-list-actions .list-actions .wrapper p {
            text-align: center; }
          body #main .wrapper-list-actions .list-actions .wrapper a {
            margin: 0 auto;
            display: table;
            background-color: #999;
            border-radius: 0;
            border: none;
            border-bottom: 2px solid #666;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
            -webkit-transition: opacity, 0.2s, ease-in-out;
            -moz-transition: opacity, 0.2s, ease-in-out;
            transition: opacity, 0.2s, ease-in-out; }
            body #main .wrapper-list-actions .list-actions .wrapper a:hover {
              opacity: 0.8; }
      body #main .wrapper-list-actions.loaded .list-actions .wrapper {
        opacity: 1; }
    body #main .check-partners {
      background-color: #ED1C24;
      border-bottom: 4px solid #A7080B;
      padding: 1.5em 5em;
      text-transform: uppercase;
      color: white;
      margin: -16px auto 0;
      display: table;
      position: relative;
      font-weight: bold; }
      body #main .check-partners:before, body #main .check-partners:after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0; }
      body #main .check-partners:before {
        left: -16px;
        background-position: 0 0; }
      body #main .check-partners:after {
        right: -16px;
        background-position: -17px 0; }
    body #main .bgParallax {
      color: #FFF;
      margin: 0 auto;
      width: 100%;
      max-width: 1920px;
      position: relative;
      min-height: 100%;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      background-position: 50% 0;
      background-repeat: repeat;
      background-attachment: fixed; }
  body #footer {
    padding: 20px 0;
    background-color: #DDD;
    border-top: 1px solid #CCC; }
    body #footer .sitemap > strong, body #footer .developer > strong {
      text-transform: uppercase;
      font-size: 0.7em; }
    body #footer .sitemap ul li, body #footer .developer ul li {
      list-style: none;
      display: inline-block;
      padding-right: 20px; }
      body #footer .sitemap ul li a, body #footer .developer ul li a {
        display: block;
        text-transform: uppercase;
        font-size: 0.9em;
        color: #666; }
