@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed|Roboto:700italic,700,400);
/* line 6, e:/repo/internacional/public/transparencia/scss/custom.scss */
html {
  overflow-y: scroll; }

/* line 10, e:/repo/internacional/public/transparencia/scss/custom.scss */
ul, li {
  list-style: none; }

/* line 12, e:/repo/internacional/public/transparencia/scss/custom.scss */
body {
  background-image: url('./../img/bg-6.jpg');
  background-position: center -162px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FAFAFA;
  transition: background-image .2s ease-in-out;
  font-size: 1em; }
  /* line 14, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body.loading:before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2; }
  /* line 23, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body.loading:after {
    content: "";
    display: block;
    background-image: url('./../loading.svg');
    width: 40px;
    height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 3;
    zoom: 3; }
  /* line 49, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body .sprite, body #menuTop .row .internacional .logo, body #menuTop .row .social-media li a, body #main > .row > header hgroup .logo, body #main > .row > article .column-files .box .files li dl, body .icon-file {
    background-image: url('./../img/sprite.png'); }
  /* line 52, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body svg {
    vertical-align: top; }
  /* line 55, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body .arrow {
    display: inline-block;
    transform: rotate(0deg);
    transition: transform .1s ease-out; }
    /* line 59, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body .arrow.selected {
      transform: rotate(90deg);
      transition: transform .1s ease-out; }
  /* line 64, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body hr {
    position: relative;
    margin: 70px 0;
    border-style: dashed; }
    /* line 68, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body hr:before {
      content: "";
      background-image: url('./../img/sprite.png');
      width: 48px;
      height: 48px;
      display: block;
      position: absolute;
      top: 0;
      background-position: 0 -185px;
      transform: filter('grayscale');
      fill: grayscale(100%);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      top: 50%;
      left: 50%;
      margin-left: -24px;
      margin-top: -24px;
      zoom: 0.8;
      opacity: .5; }
  /* line 89, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body #menuTop {
    /*background-image: url('/img/bg-top-bar.png');
		background-repeat: repeat-x;
		background-color: transparent;*/
    background-color: #9A0002;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2); }
    /* line 99, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body #menuTop .row {
      position: relative;
      height: 50px; }
      /* line 103, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #menuTop .row .pt {
        display: table;
        margin: 0 auto;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        font-family: "Roboto Condensed";
        position: absolute;
        width: 500px;
        left: 50%;
        margin-left: -250px;
        margin-right: -250px;
        text-align: center;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        top: -100px;
        transition: .4s ease-out; }
        /* line 120, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #menuTop .row .pt.visible {
          top: 0;
          transition: .2s ease-in-out; }
      /* line 127, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #menuTop .row .internacional .logo, body #menuTop .row .internacional .name {
        position: absolute;
        top: 0; }
      /* line 131, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #menuTop .row .internacional .logo {
        background-position: 0 -186px;
        height: 48px;
        width: 48px;
        top: 3px; }
      /* line 138, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #menuTop .row .internacional .name {
        color: white;
        font-family: "Lato", sans-serif;
        font-size: .9em;
        left: 54px;
        /*top: 12px;*/
        line-height: 50px;
        text-transform: uppercase;
        font-weight: bold; }
      /* line 149, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #menuTop .row .link-menu-top {
        position: absolute;
        right: 200px;
        z-index: 1; }
        /* line 154, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #menuTop .row .link-menu-top li a {
          color: #FFF;
          display: block;
          font-family: "Lato", sans-serif;
          font-size: .7em;
          font-weight: 700;
          line-height: 50px;
          text-transform: uppercase; }
      /* line 165, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #menuTop .row .social-media {
        position: absolute;
        right: 0;
        top: 15px; }
        /* line 169, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #menuTop .row .social-media li {
          float: left;
          list-style: none;
          text-indent: -9999px;
          margin-right: 10px; }
          /* line 174, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #menuTop .row .social-media li a {
            display: block;
            height: 20px;
            min-width: 24px;
            opacity: .5;
            transition: all .1s ease-in-out; }
            /* line 182, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #menuTop .row .social-media li a.facebook {
              background-position: -124px 0px; }
            /* line 183, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #menuTop .row .social-media li a.twitter {
              background-position: -152px 0; }
            /* line 184, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #menuTop .row .social-media li a.youtube {
              background-position: -188px 0;
              width: 48px; }
            /* line 185, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #menuTop .row .social-media li a.instagram {
              background-position: -251px 0; }
            /* line 187, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #menuTop .row .social-media li a:hover {
              opacity: .8;
              transition: all .2s ease-in-out; }
  /* line 196, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body #main {
    padding-top: 50px; }
    /* line 198, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body #main > .row {
      box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.2); }
      /* line 200, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #main > .row > header {
        background-color: rgba(255, 255, 255, 0.85);
        background-image: url('./../img/bg-header.png');
        background-repeat: repeat-x;
        background-position: 0 bottom;
        height: 143px;
        position: relative; }
        /* line 209, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > .row > header hgroup {
          height: 145px;
          position: absolute;
          width: 100%; }
          /* line 214, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > header hgroup .logo {
            /*height: 110px;
						left: 50%;
						margin-left: -55px;
						margin-right: -55px;
						position: absolute;
						top: -23px;
						width: 110px;*/
            background-position: 0 -236px;
            height: 150px;
            left: 50%;
            margin-left: -150px;
            margin-right: -150px;
            position: absolute;
            top: -25px;
            width: 300px;
            z-index: 2;
            transition: all .2s ease-in-out; }
            /* line 233, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > header hgroup .logo a {
              display: block;
              width: 100%;
              height: 100%; }
            /* line 241, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > header hgroup .logo:hover {
              webkit-transform: scale(1.03);
              -moz-transform: scale(1.03);
              -ms-transform: scale(1.03);
              -o-transform: scale(1.03);
              transform: scale(1.03);
              transition: all .2s ease-in-out; }
          /* line 251, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > header hgroup h1, body #main > .row > header hgroup h2 {
            font-family: "Lato", sans-serif;
            position: absolute; }
          /* line 255, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > header hgroup h1 {
            bottom: 0;
            color: white;
            font-size: 20px;
            width: 300px;
            text-align: center;
            margin-left: -150px;
            margin-right: -150px;
            left: 50%;
            text-transform: uppercase; }
            /* line 266, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > header hgroup h1:after {
              content: "Official Website";
              display: block;
              text-transform: uppercase;
              font: 400 13px "Roboto Condensed", sans-serif; }
          /* line 273, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > header hgroup h2 {
            right: 0;
            color: #FC0; }
      /* line 279, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #main > .row > nav.top-bar {
        height: inherit;
        margin-left: -10px;
        margin-right: -10px; }
        /* line 283, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > .row > nav.top-bar .top-bar-section {
          border-top: 2px solid #FFF; }
          /* line 285, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > nav.top-bar .top-bar-section > ul {
            display: flex; }
            /* line 287, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > nav.top-bar .top-bar-section > ul > li {
              border-right: 1px solid black;
              border-left: 1px solid rgba(255, 255, 255, 0.2);
              /*width: 25%;*/
              text-align: center;
              width: 100%; }
              /* line 293, e:/repo/internacional/public/transparencia/scss/custom.scss */
              body #main > .row > nav.top-bar .top-bar-section > ul > li > a {
                font-family: "Lato", sans-serif;
                font-weight: 700;
                line-height: 3.5rem;
                text-transform: uppercase;
                text-shadow: 0px 0px 3px #FFF; }
                /* line 300, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > nav.top-bar .top-bar-section > ul > li > a:hover {
                  background-color: #131313;
                  text-shadow: 0px 0px 3px #FC0;
                  color: #FC0;
                  transition: all .4s ease-in-out; }
      /* line 315, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #main > .row > article {
        background-color: white;
        min-height: 530px;
        overflow: hidden;
        padding: 40px 20px; }
        /* line 320, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > .row > article .header-main {
          border-bottom: 1px solid #9A0002;
          margin-bottom: 10px;
          margin-left: -35px;
          padding-left: 10px; }
          /* line 325, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .header-main h4 {
            color: #9A0002;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 2em;
            letter-spacing: -0.5px; }
        /* line 334, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > .row > article .sub-menu > .columns > ul {
          margin-left: 0; }
          /* line 336, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .sub-menu > .columns > ul > li {
            font-size: .9em;
            text-align: right;
            padding-right: 20px;
            border-right: 1px solid #F5F5F5;
            margin-bottom: 20px; }
            /* line 345, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > article .sub-menu > .columns > ul > li.active {
              border-color: #9A0002; }
            /* line 348, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > article .sub-menu > .columns > ul > li:hover {
              border-color: #9A0002;
              transition: all .4s ease-in-out; }
            /* line 352, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > article .sub-menu > .columns > ul > li > span {
              font-weight: bold;
              cursor: pointer; }
              /* line 354, e:/repo/internacional/public/transparencia/scss/custom.scss */
              body #main > .row > article .sub-menu > .columns > ul > li > span.subtitle {
                display: block;
                font-weight: normal;
                font-size: .8em;
                color: #999;
                padding: 10px 0 0; }
            /* line 363, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > article .sub-menu > .columns > ul > li ul {
              font-size: .9em;
              margin-top: 10px; }
              /* line 366, e:/repo/internacional/public/transparencia/scss/custom.scss */
              body #main > .row > article .sub-menu > .columns > ul > li ul.nav-items {
                display: none; }
              /* line 369, e:/repo/internacional/public/transparencia/scss/custom.scss */
              body #main > .row > article .sub-menu > .columns > ul > li ul li {
                transition: all .2s ease-in-out;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px dotted #CCC; }
                /* line 377, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .sub-menu > .columns > ul > li ul li > div span, body #main > .row > article .sub-menu > .columns > ul > li ul li a span {
                  display: block;
                  line-height: 15px; }
                /* line 381, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .sub-menu > .columns > ul > li ul li > div small, body #main > .row > article .sub-menu > .columns > ul > li ul li a small {
                  font-size: 1em;
                  color: #999; }
                /* line 386, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .sub-menu > .columns > ul > li ul li:not(.no-transition):hover {
                  padding-right: 10px;
                  transition: all .2s ease-in-out; }
                /* line 390, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .sub-menu > .columns > ul > li ul li.selected {
                  background-color: #FAFAFA;
                  margin-top: -10px;
                  padding-top: 10px;
                  padding-right: 10px; }
        /* line 411, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > .row > article .social-media-share li {
          float: left; }
        /* line 415, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > .row > article .column-text {
          display: none; }
          /* line 418, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .column-text h5 {
            font-size: 1.4em;
            color: #9A0002;
            font-weight: bold;
            border-bottom: 1px dotted #999;
            padding-bottom: 10px;
            margin-bottom: 10px;
            text-transform: uppercase; }
          /* line 427, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .column-text p {
            text-align: justify; }
            /* line 429, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > article .column-text p.subtitle {
              color: #9A0002;
              margin-bottom: 0px;
              font-weight: bold; }
          /* line 435, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .column-text em {
            font-size: .8em;
            line-height: 1.2em;
            margin-bottom: 20px;
            display: block; }
        /* line 443, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > .row > article .column-files .box {
          border: 1px solid #F5F5F5;
          border-radius: 6px;
          position: relative;
          box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.2); }
          /* line 449, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .column-files .box .title {
            border-bottom: 1px solid #F5F5F5;
            font: 700 16px "Lato", sans-serif;
            padding: 10px 0 10px 20px; }
          /* line 454, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .column-files .box .files {
            margin: 0;
            padding: 10px; }
            /* line 457, e:/repo/internacional/public/transparencia/scss/custom.scss */
            body #main > .row > article .column-files .box .files li {
              display: table;
              margin-bottom: 20px; }
              /* line 461, e:/repo/internacional/public/transparencia/scss/custom.scss */
              body #main > .row > article .column-files .box .files li ul {
                margin: 0;
                padding: 0; }
              /* line 465, e:/repo/internacional/public/transparencia/scss/custom.scss */
              body #main > .row > article .column-files .box .files li dl {
                background-repeat: no-repeat;
                height: 33px;
                /*margin-bottom: 30px;*/
                padding-left: 40px;
                transition: all .2s ease-in-out;
                background-position: -373px -170px; }
                /* line 475, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .column-files .box .files li dl.pdf {
                  background-position: -373px -71px; }
                /* line 478, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .column-files .box .files li dl.xls {
                  background-position: -373px -104px; }
                /* line 481, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .column-files .box .files li dl.doc {
                  background-position: -373px -137px; }
                /* line 487, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .column-files .box .files li dl dt, body #main > .row > article .column-files .box .files li dl dd {
                  margin: 0;
                  padding: 0; }
                /* line 492, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .column-files .box .files li dl dt a {
                  display: block;
                  font-size: .8em;
                  line-height: 1.2em; }
                /* line 498, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .column-files .box .files li dl dd {
                  font-size: .7em; }
                /* line 502, e:/repo/internacional/public/transparencia/scss/custom.scss */
                body #main > .row > article .column-files .box .files li dl:hover {
                  -webkit-filter: grayscale(100%);
                  -moz-filter: grayscale(100%);
                  -ms-filter: grayscale(100%);
                  -o-filter: grayscale(100%);
                  filter: grayscale(100%);
                  filter: gray;
                  /* IE 6-9 */
                  transition: all .2s ease-in-out; }
              /* line 513, e:/repo/internacional/public/transparencia/scss/custom.scss */
              body #main > .row > article .column-files .box .files li.empty {
                color: #999;
                font-size: .8em;
                text-align: center;
                padding: 40px; }
              /* line 519, e:/repo/internacional/public/transparencia/scss/custom.scss */
              body #main > .row > article .column-files .box .files li.group-title {
                margin-bottom: 0;
                font-weight: bold;
                font-size: .9em;
                padding-bottom: 10px; }
        /* line 530, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > .row > article .image-wrapper {
          margin-bottom: 20px; }
          /* line 532, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .image-wrapper .title {
            color: #9A0002;
            font-weight: bold;
            border-bottom: 1px solid #9A0002;
            /*&:after {
							content: "clique na imagem para ampliá-la";
							float: right;
							font-size: .7em;
							color: #999;
							font-weight: normal;
							line-height: 25px;
						}*/ }
          /* line 546, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .image-wrapper img {
            display: table;
            margin: 0 auto; }
          /* line 551, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > .row > article .image-wrapper small {
            color: #666;
            display: none;
            text-align: center;
            font-size: .8em;
            padding: 20px 0; }
    /* line 561, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body #main > footer {
      background-color: #666;
      /*min-height: 300px;*/
      padding: 40px 0;
      border-top: 1px solid #999;
      box-shadow: 0px 0 38px 0px rgba(0, 0, 0, 0.5); }
      /* line 569, e:/repo/internacional/public/transparencia/scss/custom.scss */
      body #main > footer > .row > ul {
        color: rgba(255, 255, 255, 0.5);
        font-family: "Roboto", sans-serif;
        font-size: .9em; }
        /* line 573, e:/repo/internacional/public/transparencia/scss/custom.scss */
        body #main > footer > .row > ul > li {
          float: left;
          width: 25%; }
          /* line 576, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > footer > .row > ul > li .section {
            text-transform: uppercase;
            font-size: 1.1em; }
          /* line 580, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > footer > .row > ul > li a {
            color: rgba(255, 255, 255, 0.3); }
          /* line 584, e:/repo/internacional/public/transparencia/scss/custom.scss */
          body #main > footer > .row > ul > li ul {
            margin: 0; }
  /* line 596, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body.index #main > .row > article {
    background-image: url('./../img/bg-index.jpg');
    background-position: right bottom;
    background-repeat: no-repeat; }
  /* line 605, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body .text-big {
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-family: "Roboto Condensed"; }
  /* line 612, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body .loading {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: .7em;
    padding: 40px; }
  /* line 619, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body .flag-required label:before {
    content: "*";
    position: absolute;
    left: 6px;
    color: red; }
  /* line 627, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body .icon-file {
    background-repeat: no-repeat;
    height: 33px;
    line-height: 33px;
    /*margin-bottom: 30px;*/
    padding-left: 40px;
    transition: all .2s ease-in-out;
    background-position: -373px -170px; }
    /* line 638, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body .icon-file.pdf {
      background-position: -373px -71px; }
    /* line 641, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body .icon-file.xls {
      background-position: -373px -104px; }
    /* line 644, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body .icon-file.doc {
      background-position: -373px -137px; }
  /* line 651, e:/repo/internacional/public/transparencia/scss/custom.scss */
  body span.photo {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: right;
    margin: 10px;
    zoom: 0.8;
    border: 10px solid #FAFAFA;
    box-shadow: 0px 26px 27px -17px rgba(0, 0, 0, 0.3);
    text-indent: -9999px;
    position: relative; }
    /* line 666, e:/repo/internacional/public/transparencia/scss/custom.scss */
    body span.photo:after {
      text-indent: 0;
      display: block;
      text-align: center;
      color: white;
      bottom: 21px;
      position: absolute;
      width: 150px;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 black;
      font-weight: bold;
      left: 50%;
      margin-left: -75px;
      margin-right: -75px;
      line-height: 22px;
      font-size: 1.2em;
      font-family: "Roboto Condensed"; }


/*# sourceMappingURL=maps/custom.css.map */