.container.not-found{padding-top:4em;padding-bottom:4em}.container.not-found .title{text-align:center;margin-top:2em;margin-bottom:4em}.container.not-found .title div{text-transform:none;letter-spacing:0}