#finish-budget{position:fixed;bottom:-200px;width:100%;background-color:#FFC;left:0;padding:20px;box-shadow:0 -10px 20px 0 rgba(0,0,0,.2);transition:all .2s ease-in-out;z-index:10}#finish-budget.show{bottom:0}