ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px; }
  body #wrapper-main > header #top {
    padding: 20px 10px; }
  body #wrapper-main > header h1 {
    margin: 0;
    font-size: 0;
    background-image: url("/img/logo.png");
    display: table;
    margin: 0 auto; }
    body #wrapper-main > header h1 a {
      width: 136px;
      height: 77px;
      display: block; }
  body #wrapper-main > header .search .form-group {
    position: relative; }
    body #wrapper-main > header .search .form-group button {
      position: absolute;
      top: 0;
      right: 0; }
  body #wrapper-main > header #categories {
    background-color: black; }
    body #wrapper-main > header #categories ul {
      display: table;
      margin: 0 auto; }
      body #wrapper-main > header #categories ul li {
        display: inline-block;
        position: relative; }
        body #wrapper-main > header #categories ul li a {
          display: block;
          padding: 20px;
          color: white;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none; }
        body #wrapper-main > header #categories ul li .submenu {
          display: none;
          position: absolute;
          z-index: 2; }
          body #wrapper-main > header #categories ul li .submenu li {
            display: block; }
            body #wrapper-main > header #categories ul li .submenu li:hover {
              background-color: white; }
              body #wrapper-main > header #categories ul li .submenu li:hover a {
                color: black; }
            body #wrapper-main > header #categories ul li .submenu li a {
              padding: 10px 20px; }
        body #wrapper-main > header #categories ul li:hover {
          background-color: #333; }
          body #wrapper-main > header #categories ul li:hover .submenu {
            display: block;
            background-color: #333;
            min-width: 200px;
            box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5); }
  body #wrapper-main #main.collection {
    margin-top: 40px; }
    body #wrapper-main #main.collection .call {
      margin-bottom: 0px; }
  body #wrapper-main #main.all-collections .product-line .product-wrapper {
    position: relative; }
    body #wrapper-main #main.all-collections .product-line .product-wrapper h3 {
      position: absolute;
      bottom: 10px;
      left: 50%;
      top: inherit;
      width: 200px;
      height: 50px;
      line-height: 50px;
      margin-left: -100px;
      font-size: 28px;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }
      body #wrapper-main #main.all-collections .product-line .product-wrapper h3 a {
        color: white; }
    body #wrapper-main #main.all-collections .product-line .product-wrapper .image-wrapper img {
      opacity: 0.8; }
  body #wrapper-main #main.all-collections .product-line:hover h3 {
    color: white !important; }
  body #wrapper-main #main.all-collections .product-line:hover .image-wrapper img {
    opacity: 1; }
  body #wrapper-main #main.internal {
    margin: 30px auto; }
    body #wrapper-main #main.internal h2 {
      margin-top: 0;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px; }
    body #wrapper-main #main.internal .photos li {
      margin-bottom: 20px; }
      body #wrapper-main #main.internal .photos li img {
        max-width: 100%;
        border: 1px solid #DDD;
        padding: 2px;
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
        transition: all .2s ease-in-out; }
      body #wrapper-main #main.internal .photos li:hover img {
        border-color: black;
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3); }
    body #wrapper-main #main.internal p {
      margin-bottom: 30px; }
  body #wrapper-main #main.contact h3 {
    margin-top: 0;
    margin-bottom: 30px; }
  body #wrapper-main #main.contact ul li {
    margin-bottom: 20px; }
    body #wrapper-main #main.contact ul li strong {
      display: block; }
    body #wrapper-main #main.contact ul li p {
      margin: 0; }
  body #wrapper-main #main #my-slider {
    margin-top: 30px;
    margin-bottom: 30px; }
  body #wrapper-main #main .banner-main {
    min-height: 400px;
    background-color: #DDD; }
  body #wrapper-main #main .categories-highlight {
    margin-bottom: 30px; }
    body #wrapper-main #main .categories-highlight .wrapper {
      background-color: #FAFAFA;
      padding: 30px; }
      body #wrapper-main #main .categories-highlight .wrapper h4 {
        text-transform: uppercase;
        font-weight: bold; }
  body #wrapper-main #main .banners {
    margin-top: 30px;
    margin-bottom: 30px; }
    body #wrapper-main #main .banners .banner-wrapper {
      background-color: #FFC;
      min-height: 250px; }
  body #wrapper-main #main .gallery h5 {
    font-size: 32px;
    font-weight: bold;
    color: white; }
  body #wrapper-main #main .gallery ul {
    overflow: hidden; }
    body #wrapper-main #main .gallery  ul li {
      float: left;
      width: auto;
      width: calc(100%/3); }
  body #wrapper-main #main .gallery .product-line {
    min-height: 350px; }
    body #wrapper-main #main .gallery .product-line .product-wrapper {
      margin: 0 auto;
      padding: 30px;
      border: 1px solid transparent;
      transition: all .2s ease-in-out; }
    body #wrapper-main #main .gallery .product-line h3 {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      text-align: center;
      color: #666; }
    body #wrapper-main #main .gallery .product-line .image-wrapper img {
      max-width: 300px;
      display: table;
      margin: 0 auto;
      transition: all .2s ease-in-out; }
    body #wrapper-main #main .gallery .product-line:hover .product-wrapper {
      border-color: #666;
      box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.2); }
    body #wrapper-main #main .gallery .product-line:hover h3 {
      color: white; }
    body #wrapper-main #main .gallery .product-line:hover .image-wrapper img {
      -webkit-filter: brightness(1.3);
      filter: brightness(1.3);
    }
  body #wrapper-main > footer {
    border-top: 1px solid #333;
    padding: 40px 30px;
    background-color: rgba(255,255,255,0.1);
    color: #999; }
    body #wrapper-main > footer h6 {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
    body #wrapper-main > footer ul {
      font-size: 12px; }
    body #wrapper-main > footer p {
      margin-bottom: 0;
      font-size: 12px; }
    body #wrapper-main > footer .social-media {
      margin-top: 20px; }
      body #wrapper-main > footer .social-media li {
        display: inline-block; }
    body #wrapper-main > footer > div {
      text-align: center; }
  body #wrapper-main .newsletter {
    background-color: rgba(255,255,255,0.2);
    padding: 40px 50px; 
    color: #999;}
    body #wrapper-main .newsletter h6 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: -0.5px; }
    body #wrapper-main .newsletter p {
      margin-bottom: 0; }
    body #wrapper-main .newsletter form .form-group {
      position: relative;
      margin-bottom: 0; }
    body #wrapper-main .newsletter form input {
      padding: 19px 10px;
      border-radius: 0; }
    body #wrapper-main .newsletter form button {
      background-color: black;
      color: white;
      text-transform: uppercase;
      position: absolute;
      right: 3px;
      top: 3px;
      border: none;
      font-weight: bold;
      font-size: 16px;
      padding: 6px 20px; }
  body #wrapper-main .features {
    margin: 50px auto; }
    body #wrapper-main .features .wrapper h6 {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: -0.5px; }
