<?php
$modelArray = $this->model->toArray();
$fields = array_keys($modelArray);
$placeRows = $this->places;
?>

<div class="box">
    <div class="box-header">
        <h2><?php echo $this->translate(ucfirst('place_property'), __NAMESPACE__); ?> > <?php echo $this->translate('Add', __NAMESPACE__); ?></h2>
        <small></small>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="box-body">
        <form role="form" method="post">
            <!-- Dynamic Elements -->
                            <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Id_place</label>
                    <div class="col-sm-10">
                        <select name="id_place" id="id_place" class="form-control c-select">
                        <option value="0" selected>Selecione</option>
                        <?php foreach($placeRows as $table):?>
                            <option value="<?php echo $table['id']; ?>" <?php if ($modelArray['id_place'] > 0 && $modelArray['id_place'] == $table['id']) : ?>selected<?php endif; ?>>
                                <?php echo $table['name']; ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Key</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['key']; ?>" id="key" name="key" placeholder="key">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Value</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="2" id="value" name="value" placeholder="value"><?php echo $modelArray['value']; ?></textarea>
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Label</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['label']; ?>" id="label" name="label" placeholder="label">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Type</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['type']; ?>" id="type" name="type" placeholder="type">
                    </div>
                </div>
                <?php if (!empty($modelArray['id'])) : ?><input type="hidden" value="<?php echo $modelArray['id']; ?>" name="id"><?php endif; ?>
            <!-- End Dynamic Elements -->
            <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn white"><?php echo $this->translate(!empty($modelArray[$field]) ? 'Edit' : 'Add', __NAMESPACE__); ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="<?php echo $this->basePath('js/manager/place_property/create.js'); ?>"></script>