<style>
    h7 {
        font-size: 22px!important;
    }
    dt {
        float: left;
        padding-right: 10px;
        min-width: 100px;
    }
    dd {
        margin-bottom: 10px;

    }
    table tfoot td {
        font-size: 24px;
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Orçamento <?php echo $this->id; ?></h4>
    </div>
    <div class="col-lg-12">
        
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h7 class="page-header">Dados do cliente</h7>
    </div>
    <div class="col-lg-12">
        <dl>
            <dt>Nome:</dt>
            <dd><?php echo $this->budget['name']; ?></dd>
            <dt>E-mail:</dt>
            <dd><?php echo $this->budget['email']; ?></dd>
            <dt>Telefone:</dt> 
            <dd><?php echo $this->budget['phone']; ?></dd>
            <dt>Mensagem:</dt>
            <dd><?php echo nl2br($this->budget['message']); ?></dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h7 class="page-header">Itens do orçamento</h7>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Jóia</th>
                    <th>Categoria</th>
                    <th>Quantidade</th>
                    <th>Preço unitário</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <?php 
                $total = 0;
                foreach ($this->items as $item) : 
                    $subtotal = $item['quantity'] * $item['price'];
                    $total += $subtotal;?>
                <tr>
                    <td><?php echo $item['id']; ?></td>
                    <td><a href="/photos/<?php echo $item['name']; ?>.jpg" target="_blank"><?php echo $item['name']; ?></a></td>
                    <td><?php echo $item['category']; ?></td>
                    <td><?php echo $item['quantity']; ?></td>
                    <td><?php echo $item['price']; ?></td>
                    <td><?php echo $subtotal; ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right; font-weight: bold;">Total:</td>
                    <td><?php echo $total; ?></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript" src="<?php echo $this->basePath('js/manager/category/index.js'); ?>"></script>