<?php
$modelArray = $this->model->toArray();
$fields = array_keys($modelArray);

?>

<div class="box">
    <div class="box-header">
        <h2><?php echo $this->translate(ucfirst('user'), __NAMESPACE__); ?> > <?php echo $this->translate('Add', __NAMESPACE__); ?></h2>
        <small></small>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="box-body">
        <form role="form" method="post">
            <!-- Dynamic Elements -->
                            <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['name']; ?>" id="name" name="name" placeholder="name">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['email']; ?>" id="email" name="email" placeholder="email">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['password']; ?>" id="password" name="password" placeholder="password">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Status</label>
                    <div class="col-sm-10">
                            <select name="status" id="status" class="form-control c-select">
                            <option>Selecione um Status</option>
                            <option value="0" <?php if ($this->model->getStatus() == 0) echo 'selected'; ?>>Inativo</option>
                            <option value="1" <?php if ($this->model->getStatus() == 1) echo 'selected'; ?>>Ativo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Date_create</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['date_create']; ?>" id="dateCreate" name="dateCreate" placeholder="dateCreate">
                    </div>
                </div>
                <?php if (!empty($modelArray['id'])) : ?><input type="hidden" value="<?php echo $modelArray['id']; ?>" name="id"><?php endif; ?>
            <!-- End Dynamic Elements -->
            <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn white"><?php echo $this->translate(!empty($modelArray[$field]) ? 'Edit' : 'Add', __NAMESPACE__); ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="<?php echo $this->basePath('js/manager/user/create.js'); ?>"></script>