<?php 
if (count($this->products)) :
?>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Nome</th>
			<th>Categoria</th>
			<th>Coleção</th>
			<th>Preço</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->products as $item) : ?>
		<tr>
			<td width="100"><img src="/photos/thumbs/<?php echo $item['name']; ?>.jpg" width="80" alt="" class="img-responsive"></td>
			<td><?php echo $item['id']; ?></td>
			<td><?php echo $item['name']; ?></td>
			<td><?php echo $item['categoria']; ?></td>
			<td><?php echo $item['colecao']; ?></td>
			<td><?php echo 'R$ ' . number_format($item['price'], 2, ',', '.');; ?></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>
<?php else : ?>
	<p>Nenhum registro encontrado!</p>
<?php endif; ?>