$color-primary: #ED1C24;
$color-primary-shade: #A7080B;
body {
	h4 {
		text-transform: none;
	}

	fieldset.login {
        width: 400px;
        margin: 40px auto;
        border: 1px solid #CCC;
        padding: 30px;
        border-radius: 3px;
        box-shadow: 0 6px 10px -6px rgba(0,0,0,0.2);

        legend {
        	border-bottom: none;
    	}
    	dl {
    		margin-bottom: 0;
	    	dt { display: none; }
	    	dd {
	    		margin-bottom: 15px;
	    		input {
	    			box-shadow: 0 6px 10px -6px rgba(0,0,0,0.2);
	    			border: 1px solid #CCC;
	    			border-radius: 2px;
	    			width: 100%;
	    			padding: 12px;
	    		}
	    		button {
	    			width: 100%;
	    			background-color: $color-primary;
	    			border: 1px solid $color-primary-shade;
	    			padding: 10px;
	    			color: white;
	    			text-transform: uppercase;
	    			border-radius: 5px;
	    			margin-top: 10px;
	    		}
	    	}
	    }
    }
	form {
		table {
			min-width: 700px;
			tr {
				td {
					padding: 6px 0;

					&:first-child {
						width: 150px;
					}
					label {
						//min-width: 120px;
						padding-right: 10px;
						padding-top: 4px;
						color: #555;
						font-size: 0.9em;
						text-align: right;
						float: right;
						&:not(.error) {
							&:after {
								content: ":";
							}
						}
						&.error {
							position: absolute;
							margin-left: 10px;
							margin-top: 4px;
							padding-right: 0;
							text-transform: uppercase;
							font-size: 0.7em;
							color: $color-primary;
							&:after {
								content: '';
							}
						}
					}
					input[type="text"],
					textarea,
					select {
						width: 100%;
						border: 1px solid #DDD;
						padding: 4px 6px;

						&.error {
							border-color: $color-primary;
						}
					}
					textarea {
						min-height: 100px;
					}

					input[type="submit"] {
						width: auto;
					}
				}
			}
		}
	}

	.sidebar {
		position: fixed;
	    top: 51px;
	    bottom: 0;
	    left: 0;
	    z-index: 1000;
	    display: block;
	    padding: 0px;
	    overflow-x: hidden;
	    overflow-y: auto;
	    background-color: #f5f5f5;
	    border-right: 1px solid #eee;

	    ul.nav-sidebar {
	    	li {
	    		a {
	    			font-size: 1em;
	    			margin-left: 15px;
	    			padding-top: 15px;
	    			padding-bottom: 15px;
	    			display: block;
	    		}
	    	}
	    	li.active:before,
	    	li:hover:before {
	    		content: "";
			    position: absolute;
			    display: block;
			    width: 10px;
			    height: 100%;
			    left: 0;
			    background-color: $color-primary-shade;
			    z-index: 1;
	    	}
	    }
	}

	.navbar-inverse {
		box-shadow: 0 4px 20px 0px rgba(0,0,0,0.5);
		border-bottom: 1px solid black;
		.navbar-header {
			.navbar-title {
			    float: left;
			    height: 50px;
			    padding: 15px 15px;
			    font-size: 18px;
			    line-height: 20px;
			    color: white;
			}
			.navbar-brand {
				position: absolute;
				width: 250px;
				height: 80px;
				background-size: contain;
				background-image: url('../../img/logo.png');
				background-repeat: no-repeat;
				text-indent: -9999px;
				top: 7px;
				margin-left: -125px;
				left: 50%;
				/* &:before {
					content: "Painel Administrativo";
					color: white;
				    text-indent: initial;
				    top: -16px;
				    text-transform: uppercase;
				    font-size: 0.6em;
				    position: absolute;
				    left: 4px;
				    font-weight: bold;
				} */
			}
		}

		.navbar-collapse {
			margin-left: 240px;
			.navbar-nav {
				a {
					color: white;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 0.8em;
					//letter-spacing: -1px;
					&:hover {
						color: #CCC;
					}
				}
			}
		}
	}

	.page-header {
		border-bottom: none;
		font-size: 36px;
	}

	/* botao adicionar */
	a[href*='/create'].btn {
		position: absolute;
	    right: 15px;
	    top: -56px;
	}

	/* index - partner */
	&.public-manager-partner {
		table {
			tr {
				th:nth-child(4),
				td:nth-child(4),
				th:nth-child(7),
				td:nth-child(7),
				th:nth-child(8),
				td:nth-child(8),
				th:nth-child(10),
				td:nth-child(10) {
					display: none;
				}
			}
		}
	}

	/* index - address */
	&.public-manager-address {
		table {
			tr {
				th:nth-child(5),
				td:nth-child(5),
				th:nth-child(10),
				td:nth-child(10),
				th:nth-child(11),
				td:nth-child(11) {
					display: none;
				}
			}
		}
	}

	/* create - address */
	&[class*="public-manager-address-create"] {
		form {
			table {
				width: 600px;
			}
		}
	}

	/* index - user */
	&.manager-user {
		table {
			tr {
				th:nth-child(2),
				td:nth-child(2),
				th:nth-child(5),
				td:nth-child(5) {
					display: none;
				}
			}
		}
	}

	/* index - category */
	&.manager-category {
		table {
			tr {
				th:nth-child(3),
				td:nth-child(3) {
					display: none;
				}
			}
		}
	}

	/* index - article */
	&.manager-article {
		table {
			tr {
				th:nth-child(5),
				td:nth-child(5) {
					display: none;
				}
			}
		}
	}

	/* index - file */
	&.manager-file {
		table {
			tr {
				th:nth-child(3),
				td:nth-child(3),
				th:nth-child(6),
				td:nth-child(6) {
					display: none;
				}
			}
		}
	}

	/* index - setting */
	&.manager-setting {
		table {
			tr {
				th:nth-child(2),
				td:nth-child(2) {
					width: 140px;
				}
				th:last-child,
				td:last-child {
					width: 140px;
				}
			}
		}
	}


	table {
		tr {
			td {
				
			}
		}
	}
}