<header>
	<div class="row" id="top">
		<h1><a href="/">Ocean Jóias</a></h1>
		<!--
		<div class="col-md-4">
			<h1>Ocean Jóias</h1>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<div class="search">
				<form action="">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Busca">
						<button>Buscar</button>
					</div>
				</form>
			</div>
		</div>
		-->
		<!-- <a href="javascript:void(0)" data-toggle="modal" data-target="#modalOrcamento">Solicitar orçamento</a> -->
		<?php if (isset($_GET['associar']) && (!empty($_GET['associar']))) : ?>
		<a href="javascript:void(0)" data-toggle="modal" data-target="#modalCategoria">Associar categoria</a>
		<?php endif; ?>

		<div class="menu-mobile" style="display: none;">
			<a href="javascript:void(0)">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<!--
	<div class="row" id="categories">
		<ul>
			<li><a href="">Categoria 1</a></li>
			<li><a href="">Categoria 2</a></li>
			<li><a href="">Categoria 3</a></li>
		</ul>
	</div>
	-->
	<div class="row" id="categories">
		<ul>
			<li><a href="/">Início</a></li>
			<li><a href="/quem-somos">Quem somos</a></li>
			<li class="categories">
			    <a>Categorias</a>
			    <ul class="submenu">
                    <?php foreach ($this->categories as $category) : ?>
                    <li>
                        <a href="/categoria?id=<?php echo $category['id']; ?>"><?php echo $category['name']; ?></a>
                    </li>
                    <?php endforeach; ?>
                </ul>
			</li>
			<li class="collections">
			    <a href="/colecoes">Coleções</a>
			    <ul class="submenu collection">
                    <?php foreach ($this->collections as $collection) : ?>
                    <li>
                        <a href="/colecao?id=<?php echo $collection['id']; ?>">Coleção <?php echo $collection['name']; ?></a>
                    </li>
                    <?php endforeach; ?>
                </ul>
			</li>
			<li>
			    <a href="/fale-conosco">Fale conosco</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
			</li>
		</ul>
	</div>
</header>