<footer>
	<div class="container">
		<div class="row">
			<div class="hidden-xs col-sm-6 col-md-3 contact">
				<ul>
					<li><strong>HD Motos</strong></li>
					<li><a href="/pesquisa">Comprar</a></li>
					<li><a href="/anunciar">Vender</a></li>
					<li><a href="/pesquisa?type=2">Peças & Acessórios</a></li>
					<!--
					<li><a href="#">Formulário de contato</a></li>
					<li><a href="mailto:contato@hdmotos.com">contato@hdmotos.com</a></li>
					-->
				</ul>
			</div>
			<div class="hidden-xs col-sm-6 col-md-3 links">
				<ul>
					<li><a href="/conteudo/quem-somos">Quem Somos</a></li>
					<li><a href="/conteudo/regras-de-uso">Regras de Uso</a></li>
					<li><a href="/contato">Contato</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 text-center">
				<!--<a href="/anunciar" class="btn btn-primary btn-lg" role="button">Anuncie agora <span class="glyphicon glyphicon-play-circle"></span></a>-->
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 text-center">
				<img src="/img/logo-2.png" alt="">
			</div>
		</div>
	</div>
	<div class="container-fluid text-center disclaimer">
		<p>HDmotos.com é um serviço de classificados online destinado a compradores e vendedores de motocicletas da marca Harley-Davidson®.</p>
		<p>Sua próxima Harley-Davidson está aqui, não importa o modelo, seja Road King, Road King Classic, Road King Custom, Electra Glide Sport, Electra Glide Standard, Electra Glide Classic, Ultra Classic Electra Glide, Street Glide, CVO Street Glide, CVO Ultra Classic Electra Glide, Tri-Glide, Electra Glide Ultra Limited , Street Glide Trike , Rubber Mounted Dresser Classic , Rubber Mounted Dresser Classic Ultra , Road Glide , CVO Screamin' Eagle Road Glide , Road Glide Custom , Street Bob , Super Glide Custom , Superglide , Low Rider , Fat Bob , CVO Fat Bob , Convertible , Wide Glide , Super Glide Sport , Softail , Heritage Softail Classic, Fat Boy, Softail Deluxe, Springer Softail, Springer Softail Classic, CVO Softail,Convertible, Cross Bones, Fat Boy Screamin Eagle, Fat Boy Lo, Night Train, Softail Custom, Softail Deuce, Springer Softail, Bad Boy, CVO Softail Springer Screamin' Eagle, Softail Rocker, Softail Rocker Custom, Softail Blackline, Sportster, Hugger, 883,  883 Custom,  883 Iron,  883 Low, 1200,  1200 Custom,  1200 Low,  1200 Nightster,  1200 Roadster,  1200 Sport,  50th Anniversary Edition,  Forty-Eight, V-Rod, V-Rod Black Finish, Night Rod, Night Rod Special, V-Rod Muscle, Street Rod, Breakout.</p>
		<p>HDmotos.com não realiza a intermediação de negociações entre compradores e vendedores, não recebe comissão, não possui estoque dos veículos ou artigos anunciados. Apenas publica anúncios de vendedores em seu site, de forma gratuita ou mediante pagamento de taxa para anúncios com destaque.</p>
		<p>HDmotos.com não tem qualquer vinculação ou afiliação com a H-D U.S.A. LLC. Harley-Davidson® é marca registrada da H-D U.S.A. LLC.</p>
	</div>
	<div class="container-fluid text-center develop">
		2016 &copy; Todos direitos reservados a <a href="http://www.hdmotos.com/" target="_blank" title="hdmotos.com">hdmotos.com</a>
	</div>
</footer>

<div id="callback-wrapper">
    <div class="message"></div>
</div>