<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container menu">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mobile" aria-expanded="false" aria-controls="navbar-mobile">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img class="logo" src="/img/logo.png" alt="Só Harley">
					<h1 class="hidden">Só Harley</h1>
					<span class=" hidden-sm">&nbsp;Produtos exclusivos para Harley Davidson!</span>
				</a>
			</div>
			<div id="navbar-mobile" class="collapse">
				<ul>
					<li>
						<a  href="/pesquisa" title="Comprar">
							Comprar
						</a>
					</li>
					<li>
						<a href="/anunciar" title="Vender">
							Vender
						</a>
					</li>
					<li>
						<a href="/pesquisa?type=2" title="Peças & Acessórios">
							Peças & Acessórios
						</a>
					</li>
					<li>
						<a href="/contato" title="Contato">
							Contato
						</a>
					</li>
					<li>
						<a href="/autenticar" title="Login">
							Login
						</a>
					</li>
				</ul>
			</div>
			<div id="navbar" class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">				
					<li class="first">
						<a  href="/pesquisa" title="Comprar">
							Comprar
						</a>
					</li>
					<li>
						<a href="/anunciar" title="Vender">
							Vender
						</a>
					</li>
					<li>
						<a href="/pesquisa?type=2" title="Peças & Acessórios">
							Peças & Acessórios
						</a>
					</li>
					<li class="hidden-sm">
						<a href="/contato" title="Contato">
							Contato
						</a>
					</li>
					<li class="login">
						<a href="/autenticar" title="Login">
							<span class="glyphicon glyphicon-user"></span>
						</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
</header>
	