<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Ocean Jóias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/ajustes.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/orcamento.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/additional-methods.min.js"></script>
    <script src="/js/jquery.mask.min.js"></script>
    <script src="https://use.fontawesome.com/9957b8e19d.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
	
</head>
<body>
	<div id="wrapper-main" class="container-fluid">
		<!-- INCLUDE CONTENT-->
        <?php echo $this->content; ?>
        
        <section id="extras" class="row">
        	<div class="newsletter">
        		<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h6>Receba nossas novidades</h6>
						</div>
						<div class="col-md-4">
							<p>Inscreva-se em nossa newsletter e fique por dentro de novidades, promoções e queima de showroom.</p>
						</div>
						<div class="col-md-4">
							<form action="">
								<div class="row">
									<div class="form-group">
										<input type="text" class="form-control">
										<button>Inscreva-se</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="features container" style="visibility: hidden; height: 0; margin-top: -45px;">
				<div class="row">
					<div class="col-lg-3">
						<div class="wrapper">
							<h6>(11) 3333-3333</h6>
							<p>Entre em contato por telefone</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="wrapper">
							<h6>Frete grátis</h6>
							<p>Entrega grátis para todo o Brasil</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="wrapper">
							<h6>Frete grátis</h6>
							<p>Entrega grátis para todo o Brasil</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="wrapper">
							<h6>Frete grátis</h6>
							<p>Entrega grátis para todo o Brasil</p>
						</div>
					</div>
				</div>
			</div>
        </section>
		<footer class="row">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<strong class="logo">Ocean Jóias</strong>
						<p>Ocean Jóias é a primeira fábrica brasileira instalada na China, com duas unidades e mais de 400 colaboradores. Trabalhamos com matérias prima de diversos países do continente asiático. Possuimos escritorios para atendimento no Brasil e China.</p>
					</div>
					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-12">
								<h6>Informações</h6>
								<ul>
									<li><a href="/quem-somos">Sobre a Ocean Jóias</a></li>
									<li><a href="/entrega">Política e prazo de entrega</a></li>
									<li><a href="/faq">Perguntas frequentes</a></li>
								</ul>
							</div>
							
						</div>
					</div>
					<div class="col-lg-3">
						<h6>Conecte-se conosco</h6>

						<ul class="social-media">
							<li class="fb"><a href="#"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a></li>
							<li>&nbsp;</li>
							<li class="in"><a href=""><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
		</footer>

		<div id="finish-budget">
			<div class="container">
				<div class="row">
					<div class="col-lg-2" style="margin-top: 5px;">
						<span>Jóia(s) selecionada(s):</span>
						<strong><?php 
						$total = 0;
						if (!empty($_COOKIE['products']))
							$total = count(json_decode($_COOKIE['products']));

						echo $total;
						?></strong>
					</div>
					<div class="col-lg-2">
						<button class="btn btn-primary">Solicitar orçamento</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="search">
		<form action="">
			<a href="javascript:void(0)" class="close-search"><i class="fa fa-times" aria-hidden="true"></i></a>
			<div class="form-group">
				<input type="text" name="busca" placeholder="Buscar por...">
				<button>Buscar</button>
			</div>
		</form>
		<div class="callback" style="background-color: rgba(0,0,0,0.5);"></div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="modalOrcamento">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Solicitar orçamento</h4>
				</div>
				<div class="modal-body">
					<form action="" id="formOrcamento">
						<div class="form-group">
							<label for="">Nome:</label>
							<input type="text" name="name" class="form-control" id="" placeholder="" required>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label for="exampleInputEmail1">E-mail:</label>
									<input type="email" name="email" class="form-control" id="" placeholder="" required>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Telefone:</label>
									<input type="text" name="phone" class="form-control" id="" placeholder="" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Mensagem:</label>
							<textarea name="message" id="" rows="5" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<div class="products">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="$('#formOrcamento').trigger('submit');">Enviar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="modalCategoria">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Associar categoria</h4>
				</div>
				<div class="modal-body">
					<form action="" id="formCategorizar">
						<div class="form-group">
							<label for="">Categoria:</label>
							<select name="category_id" id="">
								<option value="25">Anéis</option>
								<option value="24">Argolas</option>
								<option value="23">Brincos</option>
								<option value="26">Pingentes</option>
							</select>
						</div>
						<div class="form-group">
							<div class="products">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="$('#formCategorizar').trigger('submit');">Salvar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>
	<style>
		#modalSucesso {
			color: #333;
		}
	</style>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalSucesso">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Sucesso</h4>
				</div>
				<div class="modal-body text-center">
					<p>Seu orçamento foi enviado com sucesso!<br/>Em breve entraremos em contato com você.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="document.location.reload();">Fechar</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>

	<script>
		$.extend(jQuery.validator.messages, {
            required: 'Campo obrigatório',
            email: 'E-mail inválido'
        });
		$(function() {
			$('#formOrcamento [name="phone"]').mask('(99) 99999-9999');

			$('#finish-budget button').on('click', function() {
				$('#modalOrcamento').modal('show');
			});

			$('#modalOrcamento').on('show.bs.modal', function() {
				$.ajax({
					url: '/orcamento',
					data: {
						products: products.join(',')
					},
					beforeSend: function() {
						$('#modalOrcamento .products').html('aguarde...');
					}
				}).done(function(response) {
					var html = '<ul>';
					$.each(response.products, function(k,i) {
						html += '<li><input type="checkbox" name="product[]" value="' + i.id + '" checked><img src="/photos/thumbs/' + i.name + '.jpg" alt="" class="img-responsive"><span>' + i.reference + '</span><div><span style="font-size:12px;">quantidade: </span><input type="text" name="quantity[]" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="width: 30px;margin: 0 auto;"></div></li>';
					});
					html += '</ul>';
					$('#modalOrcamento .products').html(html);
				})
			});

			$('#modalCategoria').on('show.bs.modal', function() {
				$.ajax({
					url: '/orcamento',
					data: {
						products: products.join(',')
					},
					beforeSend: function() {
						$('#modalCategoria .products').html('aguarde...');
					}
				}).done(function(response) {
					var html = '<ul>';
					$.each(response.products, function(k,i) {
						html += '<li><input type="checkbox" name="product[]" value="' + i.id + '" checked><span>' + i.reference + '</span></li>';
					});
					html += '</ul>';
					$('#modalCategoria .products').html(html);
				})
			});

			$('#formCategorizar').on('submit', function(e) {
				e.preventDefault();
				$.ajax({
					url: '/categorizar',
					type: 'post',
					data: $('#formCategorizar').serialize()
				}).done(function(response) {
					Cookies.remove('products');
					document.location.reload();
				})
			});

			$('#formOrcamento').validate({
				rules: {

				},
				errorElement: 'em',
				submitHandler: function(form) {
					$.ajax({
						url: '/orcar',
						type: 'post',
						data: $('#formOrcamento').serialize()
					}).done(function(response) {
						$('#modalOrcamento').modal('hide');
						$('#modalSucesso').modal('show');
						Cookies.remove('products');
					});
				}
			});

			/*
			$('#formOrcamento').on('submit', function(e) {
				e.preventDefault();
				$.ajax({
					url: '/orcar',
					type: 'post',
					data: $('#formOrcamento').serialize()
				}).done(function(response) {
					$('#modalOrcamento').modal('hide');
					$('#modalSucesso').modal('show');
					Cookies.remove('products');
				})
			});
			*/

			$('.menu-mobile a').on('click', function() {
				$('body').toggleClass('menu-opened');
			});

			$('#categories .search').on('click', function() {
				$('body').addClass('blocked searching');
			});		
			$('#search .close-search').on('click', function() {
				$('body').removeClass('blocked searching');
			});	

			$('#search form').on('submit', function(e) {
				e.preventDefault();
				$.ajax({
					url: '/pesquisar',
					type: 'post',
					dataType: 'html',
					data: {
						t: $('#search form input').val()
					},
					beforeSend: function() {
						$('#search .callback').html('<div style="padding:30px; text-align:center;"><i class="fa fa-refresh fa-spin fa-2x"></i></div>');
					}
				}).done(function(html) {
					$('#search .callback').html(html);
				});
				e.stopPropagation();
			})
		});
	</script>

</body>
</html>