@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';

.item {
	.actions {
		position: absolute;
		right: 0;
	}
	&.pause {
		-webkit-filter: grayscale(1);
  		filter: grayscale(1);

		.actions {
			[data-action="pause"] {
				display: none;
			}
		}
	}
	&.play {
		.actions {
			[data-action="play"] {
				display: none;
			}
		}
	}
	&.delete {
		opacity: 0.2;
		.actions {
			[data-action="delete"],
			[data-action="pause"] {
				display: none;
			}
		}
	}
}