<?php
$modelArray = $this->model->toArray();
$fields = array_keys($modelArray);

?>

<div class="box">
    <div class="box-header">
        <h2><?php echo $this->translate(ucfirst('place'), __NAMESPACE__); ?> > <?php echo $this->translate('Add', __NAMESPACE__); ?></h2>
        <small></small>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="box-body">
        <form role="form" method="post">
            <!-- Dynamic Elements -->
                            <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['name']; ?>" id="name" name="name" placeholder="name">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['address']; ?>" id="address" name="address" placeholder="address">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['number']; ?>" id="number" name="number" placeholder="number">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Address_notes</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['address_notes']; ?>" id="addressNotes" name="addressNotes" placeholder="addressNotes">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['city']; ?>" id="city" name="city" placeholder="city">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">State</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['state']; ?>" id="state" name="state" placeholder="state">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Postalcode</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['postalcode']; ?>" id="postalcode" name="postalcode" placeholder="postalcode">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['phone']; ?>" id="phone" name="phone" placeholder="phone">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Cellphone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['cellphone']; ?>" id="cellphone" name="cellphone" placeholder="cellphone">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Phone_others</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="2" id="phoneOthers" name="phoneOthers" placeholder="phoneOthers"><?php echo $modelArray['phone_others']; ?></textarea>
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Whatsapp</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['whatsapp']; ?>" id="whatsapp" name="whatsapp" placeholder="whatsapp">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['email']; ?>" id="email" name="email" placeholder="email">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Website</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['website']; ?>" id="website" name="website" placeholder="website">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Operating_hours</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="2" id="operatingHours" name="operatingHours" placeholder="operatingHours"><?php echo $modelArray['operating_hours']; ?></textarea>
                    </div>
                </div>
                <?php if (!empty($modelArray['id'])) : ?><input type="hidden" value="<?php echo $modelArray['id']; ?>" name="id"><?php endif; ?>
            <!-- End Dynamic Elements -->
            <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn white"><?php echo $this->translate(!empty($modelArray[$field]) ? 'Edit' : 'Add', __NAMESPACE__); ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="<?php echo $this->basePath('js/manager/place/create.js'); ?>"></script>