<?php
$modelArray = $this->model->toArray();
$fields = array_keys($modelArray);

?>

<div class="box">
    <div class="box-header">
        <h2><?php echo $this->translate(ucfirst('produto'), __NAMESPACE__); ?> > <?php echo $this->translate('Add', __NAMESPACE__); ?></h2>
        <small></small>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="box-body">
        <form role="form" method="post">
            <!-- Dynamic Elements -->
                            <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['name']; ?>" id="name" name="name" placeholder="name">
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="2" id="description" name="description" placeholder="description"><?php echo $modelArray['description']; ?></textarea>
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="inputEmail3" class="col-sm-2 form-control-label">Photo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="<?php echo $modelArray['photo']; ?>" id="photo" name="photo" placeholder="photo">
                    </div>
                </div>
                <?php if (!empty($modelArray['id'])) : ?><input type="hidden" value="<?php echo $modelArray['id']; ?>" name="id"><?php endif; ?>
            <!-- End Dynamic Elements -->
            <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn white"><?php echo $this->translate(!empty($modelArray[$field]) ? 'Edit' : 'Add', __NAMESPACE__); ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="<?php echo $this->basePath('js/manager/produto/create.js'); ?>"></script>