<?php echo $this->partial('/partials/menu.phtml'); ?>

<section id="main" class="container internal contact">
	<div class="row">
		<div class="col-lg-7">
			<h2>Política e prazo de entrega</h2>
			<p>A fábrica necessita de 32 dias para fabricação e 18 dias para transporte aéreo e liberação aduaneira.</p>
			
			
		</div>
		<div class="col-lg-1">&nbsp;</div>
		<div class="col-lg-4">
			
		</div>
	</div>
</section>