<?php echo $this->partial('/partials/menu.phtml'); ?>

<section id="main" class="container internal contact">
	<div class="row">
		<div class="col-lg-7">
			<h2>Fale conosco</h2>
			
			<form action="" id="formFaleConosco">
				<input type="hidden" name="enviar">
				<input type="hidden" name="check">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="form-group focus">
							<label for="">Nome</label>
							<input type="text" placeholder="" class="form-control required" name="nome" value="">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="form-group">
							<label for="">E-mail</label>
							<input type="email" placeholder="" class="form-control required" name="email" value="">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="form-group">
							<label for="">Região</label>
							<input type="text" placeholder="" class="form-control required" name="regiao" value="">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="form-group">
							<label for="">Mensagem</label>
							<textarea class="form-control required" name="mensagem" rows="10"></textarea>
						</div>
					</div>
				</div>
				<div class="button-wrapper">
					<button type="submit" class="btn btn-default btn-lg">Enviar</button>
				</div>
			</form>
		</div>
		<div class="col-lg-1">&nbsp;</div>
		<div class="col-lg-4">
			<h3>Nossos contatos</h3>
			<ul>
				<li>
					<strong>Address</strong> 
					Guangzhou, China
				</li>
				<li class="phones">
					<strong>Phone</strong>
					<p>(+55) 51 99347-0622</p>
		            <!--<p>(+86) 132-6514-6303</p>-->
				</li>
				<li>
					<strong>E-mail</strong>
					<p><a href="mailto:orcamento@oceanjoias.com.br">orcamentos@oceanjoias.com.br</a></p>
				</li>
			</ul>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(function() {
		$('#formFaleConosco').on('submit', function(e) {
			e.preventDefault();
			var form = $(this).serialize();
			$.ajax({
				url: '/sendmail.php',
				type: 'post',
				data: form
			}).done(function() {
				alert('Formulário enviado com sucesso!');
			});
		});

	});
</script>