<?php echo $this->partial('/partials/menu.phtml'); ?>

<section id="main" class="container internal contact">
	<div class="row">
		<div class="col-lg-7">
			<h2>Perguntas frequentes</h2>
			
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			    <div class="panel panel-default">
			        <div class="panel-heading" role="tab" id="headingOne">
			            <h4 class="panel-title">
			                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			                Quais são os produtos comercializados pela empresa?
			                </a>
			            </h4>
			        </div>
			        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			            <div class="panel-body">
			                <p>A Ocean Joias trabalha com anéis, brincos, pingentes e outras semi-joias comercializadas em bruto (sem a folheação). </p>
			            </div>
			        </div>
			    </div>
			    <div class="panel panel-default">
			        <div class="panel-heading" role="tab" id="headingTwo">
			            <h4 class="panel-title">
			                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			                Qual é a quantidade mínima para compra?
			                </a>
			            </h4>
			        </div>
			        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			            <div class="panel-body">
			                <p>120 peças por modelo.</p>
			            </div>
			        </div>
			    </div>
			    <div class="panel panel-default">
			        <div class="panel-heading" role="tab" id="headingThree">
			            <h4 class="panel-title">
			                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			                Eu terei que pagar as taxas de importação dos produtos?
			                </a>
			            </h4>
			        </div>
			        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			            <div class="panel-body">
			                <p>Não, entregamos seu pedido com todas as taxas de importações pagas. </p>
			            </div>
			        </div>
			    </div>

			    <div class="panel panel-default">
			        <div class="panel-heading" role="tab" id="headingFour">
			            <h4 class="panel-title">
			                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			                Quais são as formas de pagamento?
			                </a>
			            </h4>
			        </div>
			        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			            <div class="panel-body">
			                <p>No ato do pedido o cliente deve pagar 30% do valor via depósito bancário. Os outros 70% serão pagos quando a mercadoria estiver pronta.</p>
			            </div>
			        </div>
			    </div>
			</div>
			
		</div>
		<div class="col-lg-1">&nbsp;</div>
		<div class="col-lg-4">
			
		</div>
	</div>
</section>