<?php 
$products = (!empty($_COOKIE['products'])) ? json_decode($_COOKIE['products']) : [];
?>

<link rel="stylesheet" href="/bower_components/slider-pro/dist/css/slider-pro.min.css">
<script src="/bower_components/slider-pro/dist/js/jquery.sliderPro.min.js"></script>

<?php echo $this->partial('/partials/menu.phtml'); ?>

<section id="main">
	<!-- <div class="banner-main">
		
	</div> -->

	<div class="slider-pro" id="my-slider">
		<div class="sp-slides">
			<!-- Slide 1 -->
			<?php for ($x = 1; $x <= 5; $x++) : ?>
			<div class="sp-slide">
				<h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="10%" data-show-transition="left" data-hide-transition="left" data-layer-init="true" style="top: 10%; transform-origin: left top 0px; left: 40px; visibility: visible; opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px);">
				Conheça nossa Fábrica
				</h3>
				<a data-fancybox="gallery" href="/img/home/<?php echo $x; ?>.jpg">
					<img class="sp-image" src="/img/home/small/<?php echo $x; ?>.jpg"/>
				</a>
			</div>
			<?php endfor; ?>
		</div>
	</div>

	<!--
	<div class="categories-highlight">
		<div class="row">
			<div class="col-lg-4">
				<div class="wrapper">
					<h4>Categoria 1</h4>
					<ul>
						<li><a href="">Categoria 1</a></li>
						<li><a href="">Categoria 2</a></li>
						<li><a href="">Categoria 3</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="wrapper">
					<h4>Categoria 1</h4>
					<ul>
						<li><a href="">Categoria 1</a></li>
						<li><a href="">Categoria 2</a></li>
						<li><a href="">Categoria 3</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="wrapper">
					<h4>Categoria 1</h4>
					<ul>
						<li><a href="">Categoria 1</a></li>
						<li><a href="">Categoria 2</a></li>
						<li><a href="">Categoria 3</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	-->

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="mosaic">
			    <?php 
			    foreach ($this->products as $product) : 
			    	$isChecked = (in_array($product['id'], $products)) ? true : false;
			    ?>
				<li>
					<div class="product-line <?php if ($isChecked) echo 'added'; ?>">
					    <div class="product-wrapper">
	    					<div class="image-wrapper">
	    						<a href="/categoria?id=<?php echo $product['category_id']; ?>">
	    							<img src="/photos/thumbs/<?php echo $product['name']; ?>.jpg" alt="">
	    						</a>
	    					</div>
	    					<h3 onclick="document.location.href = '/categoria?id=<?php echo $product['category_id']; ?>';" style="cursor: pointer;">
	    						<?php if ($product['category'] != null) : ?>
	    						<?php echo $product['category']; ?>
	    						<?php endif; ?>
	    						<?php //echo $product['name']; ?>
	   						</h3>
	    					<!--
	    					<div class="buttons">
	    						<a href="">Comprar</a>
	    					</div>
	    					-->
	    				</div>
					</div>
				</li>
				<?php endforeach; ?>
			</ul>
			</div>
		</div>
	</div>

	<!--
	<div class="banners container">
		<div class="row">
			<div class="col-lg-6">
				<div class="banner-wrapper">
					Banner 1
				</div>
			</div>
			<div class="col-lg-6">
				<div class="banner-wrapper">
					Banner 2
				</div>
			</div>
		</div>
	</div>
	-->

	<!--
	<div class="gallery">
		<h5>Produtos</h5>
		<ul>
			<li>
				<div class="product-line">
					<div class="image-wrapper">
						<img src="" alt="">
					</div>
					<h3>Nome do produto</h3>
					<div class="buttons">
						<a href="">Comprar</a>
					</div>
				</div>
			</li>

			<li>
				<div class="product-line">
					<div class="image-wrapper">
						<img src="" alt="">
					</div>
					<h3>Nome do produto</h3>
					<div class="buttons">
						<a href="">Comprar</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	-->

</section>

<script type="text/javascript">
	$(function() {
		$( '#my-slider' ).sliderPro({
			width: '100%',
			height: 400,
			arrows: true,
			buttons: false,
			waitForLayers: true,
			thumbnailWidth: 200,
			thumbnailHeight: 100,
			thumbnailPointer: true,
			autoplay: true,
			autoScaleLayers: false,
			//forceSize: 'fullWidth',
			breakpoints: {
				500: {
					thumbnailWidth: 120,
					thumbnailHeight: 50
				}
			}
		});
	});
</script>