<link rel="stylesheet" href="/css/not-found.css">
<div class="container main not-found">

    <div class="row">
        <div class="col-xs-12 col-md-12 title">
            <h2>Nenhum registro encontrado!</h2>
            <div>Faça uma nova busca ou selecione uma família abaixo.</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 first">
            <div id="search" class="block default">
                <h2>Encontre a sua...</h2>
                <a href="#" class="more" title="Busca avançada"><span class="glyphicon glyphicon-menu-right"></span> Busca avançada</a>
                <div class="family">
                    <strong>Busca rápida por família</strong>
                    <ul>
                        <li class="sprite-motorcycle sportster">
                            <a href="/search.php?family=sportster" title="Clique e veja todas motos da família Sportster">
                            <span class="name">Sportster</span>
                        </a>
                        </li>
                        <li class="sprite-motorcycle dyna">
                            <a href="/search.php?family=dyna" title="Clique e veja todas motos da família Dyna">
                            <span class="name">Dyna</span>
                        </a>
                        </li>
                        <li class="sprite-motorcycle softail">
                            <a href="/search.php?family=softail" title="Clique e veja todas motos da família Softail">
                            <span class="name">Softail</span>
                        </a>
                        </li>
                        <li class="sprite-motorcycle v-rod">
                            <a href="/search.php?family=v-rod" title="Clique e veja todas motos da família V-Rod">
                            <span class="name">V-Rod</span>
                        </a>
                        </li>
                        <li class="sprite-motorcycle touring">
                            <a href="/search.php?family=touring" title="Clique e veja todas motos da família Touring">
                            <span class="name">Touring</span>
                        </a>
                        </li>
                    </ul>
                </div>
                <form id="search-form" class="form collapse">
                    <div class="wrapper first">
                        <div class="form-group first">
                            <select multiple="multiple" name="familia" id="familia" class="form-control" title="Família...">
                                <option value="Sportster">Sportster</option>
                                <option value="Dyna">Dyna</option>
                                <option value="Softail">Softail</option>
                                <option value="V-Rod">V-Rod</option>
                                <option value="Touring">Touring</option>
                            </select>
                        </div>
                        <div class="form-group last">
                            <select multiple="multiple" name="modelo" id="modelo" class="form-control" title="Modelo...">
                                <option value="345.1">345.1</option>
                                <option value="124.6">124.6</option>
                            </select>
                        </div>
                        <div class="form-group first">
                            <select multiple="multiple" name="estado" id="estado" class="form-control" title="Estado...">
                                <option value="SP">SP</option>
                                <option value="SP">SP</option>
                                <option value="SP">SP</option>
                                <option value="SP">SP</option>
                                <option value="SP">SP</option>
                                <option value="SP">SP</option>
                                <option value="SP">SP</option>
                                <option value="RS">RS</option>
                            </select>
                        </div>
                        <div class="form-group last">
                            <select multiple="multiple" name="cidade" id="cidade" class="form-control" title="Cidade...">
                                <option value="Porto Alegre">Porto Alegre</option>
                                <option value="Canoas">Canoas</option>
                            </select>
                        </div>
                        <div class="checkbox first">
                            <label for="nova">
                                <input type="checkbox" id="nova" name="nova" checked="checked"> Nova
                            </label>
                        </div>
                        <div class="checkbox last">
                            <label for="usada">
                                <input type="checkbox" id="usada" name="usada" checked="checked"> Usada
                            </label>
                        </div>
                    </div>
                    <div class="wrapper last">
                        <div class="form-group first">
                            <label class="sr-only" for="anoDe">Ano de...</label>
                            <input type="text" class="form-control" id="anoDe" placeholder="Ano de...">
                        </div>
                        <div class="form-group last">
                            <label class="sr-only" for="anoAte">até...</label>
                            <input type="text" class="form-control" id="anoAte" placeholder="até...">
                        </div>
                        <div class="form-group first">
                            <label class="sr-only" for="precoDe">Preço de...</label>
                            <input type="text" class="form-control" id="anoDe" placeholder="Preço de...">
                        </div>
                        <div class="form-group last">
                            <label class="sr-only" for="precoAte">até...</label>
                            <input type="text" class="form-control" id="anoDe" placeholder="até...">
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                    </div>
                </form>
                <div class="clearfix">
                    <a  data-toggle="collapse" href="#search-form" aria-expanded="false" aria-controls="search" class="advanced-search"><span class="glyphicon glyphicon glyphicon-menu-down"></span> Mais filtros</a>
                </div>
            </div>
        </div>
    </div>

</div>