<?php echo $this->partial('/partials/menu.phtml'); ?>

<section id="main" class="container internal">
	<div class="row">
		<div class="col-lg-3">
			<ul class="photos">
				<li>
					<a data-fancybox="gallery" href="/img/quem-somos/1.jpg">
						<img src="/img/quem-somos/thumbs/1.jpg" alt="">
					</a>
				</li>
				<li>
					<a data-fancybox="gallery" href="/img/quem-somos/2.jpg">
						<img src="/img/quem-somos/thumbs/2.jpg" alt="">
					</a>
				</li>
				<li>
					<a data-fancybox="gallery" href="/img/quem-somos/3.jpg">
						<img src="/img/quem-somos/thumbs/3.jpg" alt="">
					</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-9">
			<h2>Quem somos</h2>
			<p>Instalada na China há 5 anos, a Ocean Joias é uma empresa focada na fabricação e distribuição de semi-joias.</p>

			<p>Temos como objetivo principal, simplificar e facilitar o trabalho de importação no Brasil, visto que nossos clientes recebem a mercadoria em sua empresa sem maiores complicações. Nossa equipe cuida de todo processo aduaneiro. Assim nossos clientes podem ter a tranquilidade de trabalhar com valores fixos e já taxados.</p>

			<p>Dispondo de um catálogo diferenciado, a Ocean Joias mantém um lançamento semanal médio de 80 modelos novos e exclusivos. Assim, nossos clientes sempre contarão com peças atualizadas e com os melhores preços.</p>

			<p>Nossa equipe se mantém sempre atenta aos lançamentos e as tendências da moda. Estamos constantemente em busca de novos insumos e tecnologias. Sendo assim, atualmente, trabalhamos com matérias primas de diversos países do continente asiático.</p>

			<p>Tudo isso só é possível devido ao trabalho dos mais de 400 funcionários ativos na nova fábrica da Ocean Joias, localizada na desenvolvida cidade de  Guangzhou, onde também oferecemos escritório para atendimento de clientes do Brasil e do mercado Chinês.</p>

			<p>Seja nosso cliente. Permita que nossa empresa lhe ofereça produtos de ponta com o melhor preço. Venha fazer parte da nossa família você também! </p>
		</div>
	</div>
</section>