#search{
		position: relative;
		margin-bottom: 15px;
}
.breadcrumbs{
	margin-bottom:15px;
	.block{
		padding: 10px;
		overflow: hidden;
		white-space: nowrap;
	}
	a, h1{
		text-transform: uppercase;
	}
	h1{
		display: inline;
		font-size: 1em;		
	}
}
.ordering{
	padding: 8px 15px;
	background: $color-3;
	overflow: hidden;
	&.top{
		margin-top: -10px;
	}
	label{
		font-weight: normal;
	}
	select{
		padding: 2px 5px;
		line-height: 1;
	}
	.form-group{
		float: right;
	}
	.btn-group{
		.btn{
			min-width: 36px;
		}
		.next,.prev{
			padding: 6px 10px;
		}
	}
}
.filter{
	clear: both;
	padding: 0px 15px;

	h3{
		text-transform: uppercase;
		font-size: 1em;
		padding: 10px 0;
		border-bottom: solid 1px $color-3;
		position: relative;
		cursor: pointer;
		margin:0;

		.glyphicon{
			position: absolute;
			top: 12px;
			right: 0;
		}
	}
	.form-group.first{
		margin-top: 15px;
	}
	.checkbox{
		display: inline-block;
		width: 40%;
	}
	.btn{
		width: 100%;
		margin: 0 0 15px 0;
	}
	.btn-save{
		margin: 15px 0 5px 0;
	}
	.label{
		display: inline-block;
		cursor: pointer;
		.glyphicon{
			font-size: 75%;
		}
	}
	&.selected{
		margin-top: -10px;
		background: $color-3;
		padding-bottom: 15px;

		h3{
			cursor: default;
			color: $color-1;
			border-color: $color-1-i;
			margin-bottom: 10px;
		}
	}
	.wrapper-color{
		.color{
			display: inline-block;
			width: 12px;
			height: 12px;
			position: relative;
			top: 1px;
			margin-right: 5px;
		}
	}
}
.form{
	clear: both;
	padding: 0px 15px;
	.wrapper{
		float: left;
		width: 50%;

		&.last{
			.form-group.last{
				margin-right: 0;
				width: 50%;
			}
			.form-group.full{
				width: 100%;
			}
		}
	}
	.form-group, .checkbox{
		float: left;
		width: 48%;
		margin-right: 2%;

		&.full{
			width: 98%;
		}
	}
	.checkbox{
		.field-label{
			margin-right: 0;
			padding-left: 0;
			display: block;
		    max-width: 100%;
		    margin-bottom: 5px;
		    font-weight: bold;
		    position: relative;
		    top: -5px;
		}
	}
	.checkbox, .checkbox + .checkbox{
		min-width: 100px;
		margin-top: 5px;
	}
	textarea{
		width: 100%;
	}
	.btn{
		width: 100%;
		margin-bottom: 15px;
	}
}
.size-xs {
	#search{
		margin-bottom: 25px;
	}
	.form{
		.wrapper{
			float: none;
			width: 100%;
		}
		.form-group, .last .form-group.last, .btn{
			width: 100%;
		}
		.checkbox{
			width: 48%;
			text-align: center;
		}
		.field-label{
			text-align: left;
		}
	}
}

.pub{
	
	background-color: $color-4!important;
	text-align: center;
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 15px;
	span{
		display: inline-block;
		position: relative;
		
		background: #FFF;
	}
}
.pub-1{
	span{
		width: 970px;
		height: 90px;
	}
}
.pub-2{
	span{
		width: 250px;
		height: 250px;	
	}	
}
.pub-3{
	span{
		width: 320px;
		height: 100px;	
	}	
}
.pub-4{
	span{
		width: 468px;
		height: 60px;	
	}	
}

.family{
	padding: 0px 15px;
	margin-bottom: 15px;
	ul{
		list-style: none;
		margin:0;
		padding: 0;
		height: 120px;
		display: block;
		width: 100%;
	}

	li{
		position: relative;
		float: left;
		width: 20%;
		min-width: 120px;
		display: block;
		&:focus{
			outline: 0;
		}
		a{
			position: relative;
			display: block;
			
			min-width: 120px;
			height: 125px;
			z-index: 1;
			&:hover .name{
				color: $color-1;
			}
		}
	}
	.name{
		position: absolute;
		bottom: 25px;
		display: block;
		width: 100%;
		font-size: 12px;
		color: $color-2;
		text-align: center;
		z-index: 1;
	}
}
.advanced-search{
	position: absolute;
	bottom: -22px;
	left: 50%;
	margin-left: -51px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: normal;
	background: $color-1-i;
	display: block;
	padding: 4px 8px;
	border: solid 1px $color-3;
	border-width: 0 1px 1px 1px;
	z-index: 2;

	&:hover, &:focus, &:active, &:visited{
		text-decoration: none;
		outline: none;
	}
}
.description{
	h3,
	.price{
		line-height: 15px;
		text-shadow:none;
	}
	.currency,
	.digit,
	.year{
		font-size: 12px;
	}
	h3{				
		padding: 0;
		margin: 0;
		font-size: 18px;
		font-style: italic;
		text-transform: uppercase;
	}
	.price{
		color: $color-1;
		letter-spacing: -2px;
		font-size: 18px;
		.currency,
		.digit{
			font-size: 14px;
		}
	}
	.info{
		@include opacity(0.6);
		font-size: 14px;
	}
	.year{
		position: relative;
		top: 0px;
		margin-left: 5px;
		@include opacity(0.6);
	}
}
.title{
	position: relative;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: -3px;
	h2, h1{
		font-size: 30px;
		margin: 0 0 10px 0;
	}
}
.size-xs{
	.title h2{
		font-size: 25px;
	}
}
.block{
	&.default{
		background: #FFF;
		border: solid 1px $color-3;	
	}
	h2{
		display: block;
		margin: 0 0 10px 0;
		padding:10px 16px;
		background-color: $color-2;
		color: $color-2-i;
		font-size: 18px;
		text-transform: uppercase;
		line-height: 25px;
		font-style: italic;
	}
	.more{
		position: absolute;
		top: 14px;
		right: 20px;
		color: $color-4;
		text-transform:uppercase;
		font-size: 12px;

		&:hover{
			color: $color-1-i;
			text-decoration: none;
		}
	}
	
}

.more, .filter > a{
	.glyphicon-menu-down{
		display: none;
	}
	.glyphicon-menu-up{
		display: inline-block;
	}
	&.collapsed{
		.glyphicon-menu-down{
			display: inline-block;
		}
		.glyphicon-menu-up{
			display: none;
		}
	}
}
.showcase{
	padding: 15px 14px 15px 10px;
	margin-bottom: 15px;

	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li{
		position: relative;
		float: left;
		width: 25%;
		>div{
			margin:0 5px;
		}
	
	}
	.photo{
		height: 150px;
		margin-bottom: 15px;
		background-size:100%;
		background-repeat: no-repeat;
		background-position: center;
		@include box-shadow(0, 0, 10px, $color-4, true);

	}
	h3{
		margin-bottom: 5px;
	}
	.slick-slider{
		.slick-arrow{
			top: -52px;
		}
		.slick-next{
			right: -15px;
		}
		.slick-prev{
			right: 9px;
		}
	}
	
}

.btn{
	text-transform: uppercase;
	font-weight: bold;
	span{
		position: relative;
		top: 2px;
	}
}
