.sprite-motorcycle{
	&::after{
		position: absolute;
		top: 15px;
		left:50%;
		margin-left: -60px;
		content:'';
		display: block;
		width: 119px;
		height: 100px;
		background: url('../img/motorcycle.jpg');
		z-index: 0;
	}	
}
.sportster::after{
	background-position: 0 0;
}
.dyna::after{
	background-position: -120px 0;
}
.softail::after{
	background-position: -240px 0;
}
.v-rod::after{
	background-position: -360px 0;
}
.touring::after{
	background-position: -480px 0;
}