$background:#F8F8F8;
$color-1:#e67f22;
$color-1-i:#FFF;
$color-2:#383838;
$color-2-i:#FFF;
$color-3:#EEE;
$color-3-i:#383838;
$color-4:#CCC;
$color-4-i:#383838;
$color-5:#666;
$color-6:#91b591;

/* COR DE SELEÇÃO */
::-moz-selection 	{ background:$color-2; color:$color-2-i; text-shadow:none; }
::selection 		{ background:$color-2; color:$color-2-i; text-shadow:none; }

body{
	font-family: 'Maven Pro', sans-serif;
	margin-top: 95px;
	background-color: $background;
}
