footer{
	color: $color-1-i;
	padding: 20px 0;
	background-image: url('../img/bg-asfalt.jpg');
	border-top: solid 2px $color-1;
	.links,.contact{
		margin-bottom: 15px;
		ul{
			list-style-type: square;
			list-style-position: inside;	
		}		
	}
	.contact{
		li:first-child{
			list-style: none;
		}
	}
	a{
		color: $color-1-i;		
	}
	.btn, img{
		margin-bottom: 15px;
	}
}