header{
	.navbar{
		background: $color-1;
		border: none;
		-webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.3);
		box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.3);

		.container{
			position: relative;
			height: 85px;
		}
		.navbar-brand{
			padding: 7px 15px;
			span{
				font-style: italic;
				font-size: 12px;
				color: $color-1-i;
				line-height: 13px;
				position: absolute;
				top: 51px;
				left: 135px;
				width: 150px;
				padding-left: 15px;
				@include opacity(0.6);				
			}
		}
		.nav{
			position: absolute;
			right: 7px;
			bottom: 0;
			li{
				display: inline-block;
				background-image: url('../img/bg-asfalt.jpg');
				&.first a{
					background: url('../img/menu-side.jpg') no-repeat top left;
				}
			}
			li a{
				display: block;
				padding: 0 15px 0 30px;
				color: $color-1-i;
				text-transform: uppercase;
				text-align: center;
				font-size: 16px;
				font-style: italic;
				line-height: 40px;
				background: url('../img/menu-div.png') no-repeat top left;
				&:visited,&:focus{
					color: $color-1-i!important;
				}
				&:hover{
					color: $color-1!important; 
				}
				
			}
			li.search a,
			li.login a{
				padding: 0 5px 0 30px;
			}
			li.login{
				padding-right: 20px;

			}
			
		}
		
	}
	.navbar-toggle{
		background: $color-1-i;
		top: 16px;
	}
	#navbar-mobile{
		ul{
			list-style: none;
			background: $background;
			width: 100%;
			margin: 35px 0 0 0;
			padding: 0;
			-webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.3);
			box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.3);
		}
		a{
			display: block;
			width: 100%;
			padding: 10px;
			border-bottom: solid 1px $color-4;
			color: $color-2;
			&:hover{
				color: $color-1;
				background: $color-1-i;
				text-decoration: none;
			}
		}
	}


}