.pag-plan{
	margin-bottom: 50px;

	.title{
		margin: 20px 0;
	}
	.premium{
		margin-bottom: 10px;
		.block{			
			border:solid 2px $color-1;
		}
		h2{
			background: $color-1;
		}
	}
	.free,.acessories{
		margin: 50px 0 10px;
	}
	h2{
		margin: 0;
		text-align: center;
	}
	h3{
		font-size: 1.2em;
		display: block;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		padding: 10px 0;
		background: $color-3;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		display: block;
		padding: 10px 10% 10px 10%;
		border-bottom: solid 1px $color-3;
		
		strong{
			color: $color-1;
		}
	}
	.glyphicon-ok{
		color: $color-5;
		margin-right: 10px;
	}
	.btn{
		width: 100%;
		padding: 15px 0;
	}
}
.size-xs, .size-sm{
	.pag-plan{
		margin-bottom: 0;

		.free,.acessories{
			margin:0 0 10px;
		}
	}
}