.pag-form{
	
	padding-bottom: 10px;

	.btn{
		height: 58px;
	}
	.block{
		p{
			padding: 15px;
		}
	}
	.steps{
		margin: 5px 0 10px;
		h2,p{
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		h2{
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			background: $color-3;
			@include border-top-radius(50px);
			@include border-bottom-radius(50px);
		}
		p{
			text-align: left;
			width: 118px;
			line-height: 14px;
			position: relative;
			top: 2px;
		}
		&.past{
			h2{
				background: $color-6;
				color: $color-1-i;
			}
			p{
				color: $color-6;
			}
		}
		&.current{
			h2{
				background: $color-1;
				color: $color-1-i;
			}
			p{
				color: $color-1;
			}
		}
	}
}
.size-xs{
	.steps p{
		top: 5px;
		text-align: center;
		font-size: 0.9em;
	}
}