.pag-search{

	.result{
		margin-bottom: 15px;
	}
	.wrapper{
		list-style: none;
		margin: 0 15px;
		padding: 0;
	}
	.label-default{
		background: $color-4;
		font-weight: normal;
	}
	.item{
		width: 100%;
		overflow: hidden;
		padding: 15px 0;
		position: relative;
		border-bottom: solid 1px $color-3;


		.photo{
			display: block;
			width: 35%;
			height: 150px;
			margin-right: 2%;
			background-size:100%;
			background-repeat: no-repeat;
			background-position: center;
			@include box-shadow(0, 0, 10px, $color-4, true);
			cursor: pointer;

		}
		.photo, .description{
			float: left;
			
		}
		.description{
			width: 63%;

			p{
				width: 70%;
				margin-bottom:5px;
				a{
					color: $color-2;
					text-decoration: none;
				}
			}
			.price{
				position: absolute;
				right: 2px;
				top: 20px;				
			}
			h3{
				position: relative;
				top: 5px;

				a{
					color: $color-2;
					text-decoration: none;
				}
			}
			.info{
				margin: 10px 0 8px;
			}
			h3, .price{				
				font-size: 1.7em;
				line-height: 1.2em;
			}
			.labels{
				position: absolute;
				bottom: 15px;
				width: 100%;
				padding: 8px 0;
				border-top: dashed 1px $color-3;
			}
		}
		.detail{
			position: absolute;
			right: 0;
			bottom: 15px;
		}
	}
	.grid{
		.wrapper{
			overflow: hidden;
		}
		.item{
			float: left;
			width: 31%;
			margin:0 1%;
			.photo, .description{
				float: none;
				width: 100%;
			}
			.photo{

				height: 130px;
			}
			h3{
				font-size: 1.3em;
			}
			p{
				width: 90%
			}
			.price, .labels{
				position: relative;
				top: auto;
				right: auto;
				bottom: auto;
			}
			.labels{
				margin-top: 10px;
			}
		}
	}
}
.size-xs{
	.ordering{
		.btn-group, .form-group{
			float: none;
		}
		.form-group{
			margin-top: 10px;
		}
	}
	.list{
		.item{
			.pipe,p,.labels{
				display: none;
			}
			.description{
				width: 40%;
			}
			.detail	{
				display: block;
				margin-top: 7px;
				position: relative;
				right: auto;
				bottom: auto;
			}	
		}			
	}
	.item{

		.photo{
			width: 40%;
			height: 120px;
			margin-right:5%;
		}
		.description{
			h3{
				font-size: 1.4em;
			}
			.info{
				font-size: 0.8em;
				margin-bottom: 6px;
			}
			.local{
				display: block;
			}
			.price{
				position: relative;
				top: auto;
				right: auto;
				font-size: 1.3em;
			}	
		}

	}
	.grid{
		.item{
			float: left;
			width: 48%;

			h3{
				margin-bottom: 10px;
			}
		}
	}
}