.pag-result{
	.result{
		overflow: hidden;
		padding: 20px;
		position: relative;
		margin-bottom: 10px;
		.infos{
			margin-right: 2%;
		}
		.infos,.description{
			float: left;
		}
		.infos{
			width: 38%;
		}
		.description{
			width: 60%;
		}		
		.photo,.slick-slide{
				background-size: 100%;
				height: 300px;
				background-position: center center;
				background-repeat: no-repeat;
				border: solid 1px $color-3;
		}
		.slider{
			.itens{
				div{
					width:100%;
					height: 300px;
				}
			}
			.nav-itens{
				.slick-arrow{
					top: -13px;
				}
				.slick-prev{
					left: 50%;
					margin-left: -24px;
				}
				.slick-next{
					right: 50%;
					margin-right: -24px;
				}
				.slick-slide{
					height: 100px;
					background-size: 100%;
				}
			}
			.video{
				position: relative;
				.glyphicon{
					color: $color-1;
					font-size: 2em;
					width: 26px;
					height: 26px;
					position: absolute;
					top: 38%;
					left:50%;
					margin-left: -12px;
					background: $color-1-i;
					@include border-top-radius(50px);
					@include border-bottom-radius(50px);
					&::before{
						position: relative;
						left: -1px;
					}
				}
			}
		} 
		.photo{
			@include box-shadow(0, 0, 10px, $color-4, true);
		}
		.share{
			margin-top: 10px;
			padding: 5px;
			overflow: hidden;
			max-height: 46px;
			background: $color-3;
			.btn{
				float: left;
				display: block;
				position: relative;
				top: 2px;
				padding-bottom: 5px;
				margin-left: 3px;
			}
			.addthis_sharing_toolbox{
				float: right;
			}
		}
		.map{
			margin-top: 10px;
		}
		.description{
			position: relative;
			h3,.price{
				font-size: 2em;
			}
			h3{
				margin: 10px 0 15px;
			}
			h4{
				margin: 15px 0;
				color: $color-1;
			}
			.price{
				position: absolute;
				top: 10px;
				right: 0;
			}
			dl{
				display: block;
				margin: 10px 0;
				dd{
					border-top: solid 1px $color-3;
					padding: 5px 0;
					font-size: 0.9em;
				}
				dd:nth-child(even){
					background: $color-3;
				}
				dd:last-child{
					border-bottom: solid 1px $color-3;
				}
				strong, span{
					display: inline-block;
					width: 50%;
					padding-left: 10px;
				}

			}
			form{
				.whatsapp{
					@include opacity (0.6);
					padding-top: 3px;
					padding-bottom: 3px;
					width: 245px;
					background: url(../img/whatsapp.png) no-repeat center right;
				}
			}
			.side{
				float: left;
			}
			.specification{
				width: 49%;
				margin-right: 2%;
			}
			.proposal{
				width: 49%;

				.btn{
					width: 100%;
					padding: 10px;
				}
				small{
					display: block;
					text-align: center;
					margin-top: 5px;
				}
				.call{
					background: $color-3;
					padding: 10px;
					text-align: center;

					p{
						margin: 0;
					}
				}
			}
		}
	}
}
.size-sm,.size-xs{
	.pag-result .result{
		.infos, .description{
			width: 100%;
		}
		.description{
			margin-top: 10px;
		}
	}
}
.size-xs{
	.pag-result .result{
		.photo{
			height: 190px;
		}
		.itens div, .itens iframe{
			height: 190px;
		}
		.nav-itens .slick-slide{
			height: 70px;
		}
		.side{
			width: 100%;
		}
		.share{
			.glyphicon{
				display: none;
			}
			.btn{
				font-size: 0.8em;
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}
	}
}