.main{
	.call-1, .call-2{
		padding: 35px;
		height: 120px;
		margin-bottom: 15px;
		background-size:100%;
		background-repeat: no-repeat;
		background-position: center;
		h3{
			margin: 0;
			padding: 0;
			font-size: 28px;	
			font-style: italic;
			color: $color-1-i;
			line-height: 25px;
		}
		strong{
			color: $color-1;
		}
		.btn{
			position: absolute;
			top: 38px;
			right: 30px;
			width: 180px;
			padding: 0;
			height: 48px;
			line-height: 48px;
			text-transform: uppercase;
		}
	}
	.call-1{
		background-image: url('../img/call-1.jpg');
	}
	.call-2{
		background-image: url('../img/call-2.jpg');
	}
	.news{
		margin-bottom: 15px;
		height:270px;

		ul{
			list-style: none;
			padding: 0 15px 15px 15px;
			margin: 0;
		}
		li{
			line-height: 35px;
			border-bottom: dashed 1px $color-4;
			width: 100%;
			@include ellipsis(100%);

			&.last{
				line-height: 34px;
				border-bottom: none;
			}
			span{
				color: $color-4;
			}
		}
	} 

}