body {
	&.loading {
		&:before {
			content: '';
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			z-index: 10000;
			top: 0;
			left: 0;
			opacity: 1;
		}
		&:after {
			background-color: rgba(255,255,255,0.8);
			box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
			//border: 1px solid black;
			color: black;
			font-weight: bold;
			content: 'aguarde...';
			font-size: 12px;
			height: 50px;
			left: 50%;
			line-height: 50px;
			margin-left: -50px;
			margin-top: -25px;
			position: fixed;
			text-align: center;
			top: 50%;
			width: 100px;
			z-index: 10001;
		}
	}

	#callback-wrapper {
		position: fixed;
		top: -100px;
		width: 100%;
		z-index: 2000;
		transition: top .4s ease-in-out;
		&.show {
			top: 0px;
		}
		.message {
			margin: 0 auto;
			display: table;
			padding: 10px 30px;
			background-color: #FFC;
			//font-size: 1.2em;
			font-weight: bold;
			box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5);
		}
	}
}