/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    &:focus{
        outline: 0;
    }
    .product{
        margin: 0 10px 16px 0;
    }
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

/* PERSONALIZACAO */
.slick-slider {
    .slick-arrow{
        position: absolute;
        top: -17px;
        right: 0;
        width: 25px;
        height: 25px;
        background:$color-1-i; 
        border:solid 1px $color-4;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: $color-1-i;
        overflow: hidden;
        z-index: 1;
        &::before{
            color: $color-4;
            @extend .glyphicon;
            top: 3px;
            left: -2px;
        }
        &:focus,
        &:active{
            outline: none;
        }
        &:hover::before{
            color: $color-2;
        }

    }
    .slick-next{
        @extend .glyphicon-menu-right;
    }
    .slick-prev{
        right: 24px;
        @extend .glyphicon-menu-left;
    }
}