@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';

.forms {
	position: relative;
	min-height: 300px;
	transition: height .2s ease-in-out;
	label {
		display: block;
	}
	.checkbox {
		label {
			padding-left: 0;
		}
	}
}
#formAdvertiseMotorcycle,
#formAdvertiseAccessory {
	position: absolute;
	margin-top: 2em;
	opacity: 0;
	visibility: hidden;
	//display: none;
	overflow: hidden;
	width: 100%;
	transition: all .4s ease-in-out;

	&.selected {
		opacity: 1;
		visibility: visible;
		//display: block;
	}
}