@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';

body {
	background-color: black;
	//background-image: url('/img/bg_site.jpg');
	//background-position: center;
	//background-attachment: fixed;
	//background-repeat: no-repeat;
	//background-size: contain;

	color: #DDD;

	a {
		color: white;
		&:hover {
			color: white;
		}
	}

	input {
		&.form-control {
			background-color: #FFF;
			border-color: #CCC;
		}
	}

	.fancybox-error {
		p {
			font-size: 0!important;
		}
	}
	#categories {
		background-color: tint(black, 5%)!important;
		ul {
			li {
				a {
					color: #CCC!important;
				}
			}
		}
	}

	header .submenu.collection {
		width: 900px;
	    left: 50%;
	    margin-left: -450px!important;
	    column-count: 4;
	    li {
	    	float: none;
	    	display: inline-block!important;
	    }
	}

	.mosaic {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 40px;
		display: table;
		//margin: 0 auto;
		//width: 100%;
		text-align: center;
		li {
			float: left;
			display: inline-block;
			//margin-right: 20px;
			margin-bottom: 20px;
			position: relative;
			//margin-top: -40px;
			min-height: 225px;
			width: calc(100%/3);
			&:nth-child(2n) {
				//margin-top: 40px;
				//padding-top: 40px;
				//top: 20px;
				.product-line {
					//margin-top: 20px;
				}
			}
			&:nth-child(3n) {
				top: 0;
				//margin-right: 0;
			}
			.product-line {
				position: relative;
				.image-wrapper {
					img {
						border: 1px solid #333;
						transition: all .2s ease-in-out;
					}
				}
				h3 {
					position: absolute;
					width: 100%;
					text-align: center;
					height: 40px;
					line-height: 40px;
					font-size: 0;
					top: 50%;
					margin-top: -20px;
					color: white;
					margin-left: 1px;
					text-transform: uppercase;
					text-shadow: 1px 1px 1px black;
					background-color: transparent;				
					transition: all .2s ease-in-out;
					visibility: hidden;	
				}
			}
			&:hover {
				.product-line {
					.image-wrapper {
						img {
							border-color: #666;
							//-webkit-filter: brightness(1.3);
      						//filter: brightness(1.3);
						}
					}
					h3 {
						background-color: rgba(0,0,0,0.5);	
						visibility: visible;
						font-size: 20px;
					}
				}
			}
		}
	}

	#finish-budget {
		color: #333;
	}
	#search {
		position: fixed;
		width: 500px;
		top: -300px;
		left: 50%;
		margin-left: -250px;
		z-index: 11;
		transition: all .4s ease-in-out;
		form {
			position: relative;
		}
		input {
			width: 100%;
			height: 50px;
			color: black;
			font-size: 24px;
			padding: 0 20px;
			background-color: rgba(255,255,255,0.9);
			border: none;
		}
		button {
			position: absolute;
			right: 0;
			top: 0;
			height: 50px;
			color: white;
			padding-left: 30px;
			padding-right: 30px;
			border: none;
			background-color: #666;
		}
		.close-search {
			position: absolute;
			right: 0;
			top: -50px;
			color: rgba(white, 0.7);
			font-size: 24px;
			font-weight: 100;
		}
	}

	&.blocked {
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.8);
			z-index: 10;
		}
	}
	&.searching {
		#search {
			top: 250px;
		}
	}

	&:before {
		content: '';
		position: fixed;
		background-color: rgba(0,0,0,0);
		transition: all .2s ease-in-out;
	}
}

.product-line {
	position: relative;
	.input-wrapper {
		position: absolute;
		right: 30px;
		background-color: rgba(255,255,255,0.9);
		box-shadow: -2px 5px 10px -3px rgba(0,0,0,0.9);
		padding: 5px 10px;
		transition: all .2s ease-in-out;
		z-index: 1;

		top: 30px;
		//top: -30px;
		//opacity: 0;
		label {
			margin-bottom: 0;
		}
		input {
			width: 15px;
			height: 15px;
			position: relative;
    		top: -2px;
		}
	}
	&:hover,
	&.added {
		.input-wrapper {
			//top: 30px;
			//opacity: 1;
		}
	}
	&.added {
		.input-wrapper {
			background-color: #FFC;
		}
	}
	h3 {
	}
	.price {
		color: white;
		float: right;
		font-size: 16px;
		position: absolute;
		right: 20px;
		bottom: 75px;
		text-shadow: 1px 1px 1px rgba(255,255,255,1);
	}
}

#modalOrcamento {
	color: #333;
	.products {
		li {
			display: inline-block;;
			width: 33%;
			text-align: center;
			margin-bottom: 20px;
			img {
				max-width: 50%;
				display: table;
				margin: 0 auto;
			}
		}
	}
}