body {
	&.overlay-show {
		overflow-y: hidden;
	}
}
.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 20;

	> .content {
		max-width: 600px;
		width: 90%;
		padding: 1em;
		position: fixed;
		background-color: white;
		top: 50%;
		left: 50%;
		margin-left: -300px;
		margin-right: -300px;
		max-height: 90%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&.opened {
		> .content {
			box-shadow: 0 32px 40px -24px rgba(0, 0, 0, 0.5);			
		}
		.modal-x {
			display: block;
		}
	}
}

.modal-x {
	display: none;

	.modal-x-header {
		border-bottom: 1px solid #F2F2F2;
		strong {
			display: block;
			font-size: 1.4em;
			//padding-top: 1em;
			padding-bottom: 1em;
			//margin-bottom: 1em;
		}
		&.danger {
			strong {
				color: red;
			}
		}
		a.close-modal {
			position: absolute;
			right: 0;
			top: 0;
			margin: 1em;
			font-size: 1.2em;
			color: #aaa;
			font-weight: 700;
			z-index: 1;
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.modal-x-body {
		margin-top: 1em;
		padding: 1em 2em;
		
		//text-align: center;
	}

	.modal-x-footer {
		border-top: 1px solid #F2F2F2;
		padding-top: 1em;
	}
}