@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';

.container.not-found {
	padding-top: 4em;
	padding-bottom: 4em;

	.title {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 4em;
		h2 {
		}
		div {
			//font-family: 'Maven Pro', sans-serif!important;
			text-transform: none;
			letter-spacing: 0px;
		}
	}
}