@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';

@media only screen and (max-width: 780px) {
	body {
		#top {
			height: 80px;
			h1 {
				position: absolute;
			    height: 46px;
			    background-size: contain;
			    background-repeat: no-repeat;
			    display: inherit!important;
			}
			.menu-mobile {
				display: block!important;
				position: absolute;
				right: 15px;
				top: 30px;
				z-index: 2;
				i {
					font-size: 24px;
					color: white;
				}
			}
		}
		.mosaic {
			margin-left: 0;
			li {
				width: 100%;
			}
		}
		.gallery {
			ul {
				li {
					width: 100%!important;
				}
			}
		}
		.product-line {
			h3 {
				font-size: 16px!important;
			}
		}

		header {
			#categories {
				//display: none;
				position: fixed;
				width: 100%;
				height: 100%;
				right: -2000px;
				z-index: 20;
				background-color: rgba(#222, 0.9)!important;
				box-shadow: -20px 0px 20px 0 rgba(0,0,0,0.5);
				transition: all .3s ease-in-out;
				> ul {
					display: block!important;
					li {
						display: block!important;
						width: 100%;
						&.collections {
							.submenu {
								display: none!important;
							}
						}
						.submenu {
							li {
								width: 100%;
								padding-left: 20px;
							}
						}
					}
				}
				.submenu {
					position: relative!important;

				}
			}
		}

		#finish-budget {
			text-align: center;
		}

		&.menu-opened {
			overflow-y: hidden;
			header {
				#categories {
					right: -10px;
				}
			}
			&:before {
				content: '';
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				filter: blur(10px);
				z-index: 1;
				background-color: rgba(0,0,0,0.5);
			}
		}

		
	}
}